<app-header></app-header>

<mat-card class="bannerblock">
    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/hps_studyimage1.png" class="abimage">
    <span class="newcontainer">
      <span class="bannertextwrapper">
        <span class="bannertext">
          <div class="bannertitlewrapper">
            <h5>
              <strong>Studies and Papers written </strong>
              <strong>on the ANS Medical Device</strong>
              <strong>Technology used in our Platform</strong>
            </h5>
          </div>
        </span>
      </span>
  
    </span>
  </mat-card>
  <mat-card class="studyblock2">
      <div class="newcontainer">
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>BIOIMPEDANCE IN THE MONITORING OF EFFECTS OF SELECTIVE SEROTONIN REUPTAKE INHIBITOR TREATMENT</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>The use of the Electro Interstitial Scan (EIS) to perform bioimpedance measurements to follow up the efficacy of selective serotonin reuptake inhibitor (SSPI) treatment in subjects diagnosed to have a major depressive disorder.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>EIS electrical conductivity measurement in the forehead pathway showed high specificity and sensitivity at day 45 for distinguishing between responders and non-responders to SSRI therapy. The specificity and sensitivity decreased at day 60. The EIS electrical dispersion a parameter in the forehead pathway has a high specificity and sensitivity at day 45 when comparing responders and nonresponders. and the specificity and sensitivity increase at day 60.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/HPS_Bioimpedance_Application.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>RM-3A RISK ASSESSMENT FOR DIABETES</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To determine the validity of ANS function indicators to screen for type 2 diabetes mellitus, as measured by the TM-Oxi and RM-3A system.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>The TM-Oxi and RM-3A system shows promise as valid. convenient. and non-invasive screening method for type 2 diabetes mellitus. The ANS function and CMR indicators measured by this system may be useful in guiding diabetes and cardiovascular health screening, treatment. and monitoring.
                    </p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/DEPENDABILITY_OF_RM-3A_SYSTEMS_RISK_ANALYSIS.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>RM-3A ANALYSIS OF PHOTO PLETHYSMOGRAPHY TO EVALUATE AN INDEPENDENT CARDIOVASCULAR RISK FACTOR</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p> The evaluation of homeostatic markers correlated to autonomic nervous and endothelial functions in a population of coronary artery disease (CAD) patients versus a control group to determine whether an independent cardiovascular risk score based on these markers can be used alongside known conventional cardiovascular risk markers to strengthen the understanding of a patient's vascular state.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p> The spectral analysis of the photoplethysmography method is noninvasive. fast, operator-independent, and cost-effective, as only an oximeter, and a galvanic skin response device, are required in order to assess in single testing the autonomic nervous system and endothelial function. The spectral analysis techniques used on the photo plethysmogram, as outlined in this study, could be useful when used alongside conventional known cardiovascular disease risk markers.
                    </p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Effect_Of_Can_On_Mortality.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>RM-3A ANALYSIS OF NEUROPATHY USING SUDOMOTOR TEST IN TYPE 2 DIABETES
                </h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To evaluate the efficacy of a Sudomotor testing device to detect peripheral distal neuropathy (PDN) and cardiac autonomic neuropathy (CAN) in patients with type 2 diabetes.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p> The RM-3A device will be useful to assess the susceptibility of type 2 diabetes patients in developing PDN complications.
                    </p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/DEPENDABILITY_OF_RM-3A_SYSTEMS_RISK_ANALYSIS.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>RM-3A COMPARISON OF ACCURACY OF ES-BC, EIS-GS, AND ES OXI ON BODY COMPOSITION, AUTONOMIC NERVOUS SYSTEM ACTIVITY, AND CARDIAC OUTPUT TO STANDARDIZED ASSESSMENTS</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To compare each to a standardized assessment: ES-BC to dual-energy X-ray absorptiometry (DXA). EIS-GS to heart rate variability, and ES Oxi to BioZ Dx Diagnostic System (Baozi Dx; SonoSite Inc, Bothell, WA).
                    </p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>ES-BC and ES Oxi accurately assessed body composition and cardiac output compared to standardized instruments, whereas EIS-GS showed a marginal predictive ability for autonomic nervous system activity. The ESC software managing the three devices would be useful to help detect complications related to metabolic syndrome, diabetes, and cardiovascular disease and to noninvasively and rapidly manage treatment follow-up.
                    </p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/DEPENDABILITY_OF_RM-3A_SYSTEMS_RISK_ANALYSIS.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>RM-3A ES COMPLEX ANALYSIS OF HOMA2-IR AND HBA1C WITH ALGORITHMS DERIVED FROM BIO IMPEDANCE AND SPECTROPHOTOMETRIC DEVICES.
                </h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>Homeostasis model assessment of insulin resistance (HOMA2-112) and HbAlc, markers of metabolic syndrome and glycemic control, were compared with Electro Sensor (ES) Complex software algorithms. ES complex software integrates data from Electro Sensor Oxi (ESO; spectrophotometry) and Electro Sensor-Body Composition (ES-BC; bio-impedance).</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>This study in subjects with obesity suggests that ES complex algorithms will be useful in large-scale screening studies to predict insulin resistance, metabolic syndrome, and HbAlc >6.5%.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/DEPENDABILITY_OF_RM-3A_SYSTEMS_RISK_ANALYSIS.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>EFFECTS OF CARDIAC AUTONOMIC NEUROPATHY ON MORTALITY</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To study the effects of cardiac autonomic dysfunction on mortality risk in the action to control cardiovascular risk in diabetes (accord) trial.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>Whereas CAN was associated with increased mortality in this high-risk type 2 diabetes cohort, these analyses indicate that participants with CAN at baseline had similar mortality outcomes from intensive compared with standard glycemia treatment in the ACCORD cohort.
                    </p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Effect_Of_Can_On_Mortality.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>INSULIN RESISTANCE DETECTION</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To detect Insulin Resistance using spectral analysis of arterial plethysmography versus hyperinsulinemic-euglycemic clamp
                    </p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>PTG TP parameter has the best AUC (0.95) comparing with the other existing available tests to detect the M value < 4.5 of the HE clamp. Therefore, PTG TP provided by the ES Complex system represents a novel parameter of screening and follow-ups for insulin resistance in a large-scale population. This parameter is an independent factor of risk for T2DM and cardiovascular diseases.
                      </p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/INSULIN_RESISTANCE.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>COMPARING THE ACCURACY OF ES-BC, EIS-GS, AND ES OXI ON BODY COMPOSITION, AUTONOMIC NERVOUS SYSTEM ACTIVITY, AND CARDIAC OUTPUT TO STANDARDIZED ASSESSMENTS</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To compare each to a standardized assessment: ES-BC to dual-energy X-ray absorptiometry (DXA), ElS-GS to heart rate variability, and ES Oxi to BioZ Dx Diagnostic System (BioZ Dx; SonoSite Inc, Bothell, WA).
                    </p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>ES-BC and ES Oxi accurately assessed body composition and cardiac output compared to standardized instruments, whereas EIS-CS showed a marginal predictive ability for autonomic nervous system activity.
                    </p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/MIAMI_UNIVERSITY_VALIDATION.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>NEW MARKER USING BIOIMPEDANCE TECHNOLOGY IN SCREENING FOR ATTENTION DEFICIT/HYPERACTIVITY DISORDER (ADHD) IN CHILDREN AS AN ADJUNCT TO CONVENTIONAL DIAGNOSTIC METHODS</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To diagnose attention-deficit/hyperactivity disorder (ADHD) in children using an easy-to-use, fast, and cost-effective tool to avoid misdiagnosis that may lead to the possibility of errors in treatment, with treatment monitoring for numerous possible side effects that could be especially damaging in view of the age of the population.
                    </p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>The EIS marker related to the conductivity measurements of the forehead pathway has a high specificity and high sensitivity and the use of this could provide practitioners with a non-invasive, low-cost system that is easy to use in the office and could offer an adjunct to the conventional diagnosis of ADHD children.
                    </p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/New_Marker_Using_Bioimpedance.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>AGE MATCHED ATTENUATION OF BOTH AUTONOMIC BRANCHES IN CHRONIC DISEASE: Ill. CORONARY ARTERY DISEASE</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To study the relationship between the resting Parasympathetic nervous system and the Sympathetic nervous system (P & S) activity and the duration of Coronary Artery Disease (CAD).</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>Excess S activity relative to P activity at rest (high sympathovagal balance [SB=S/P]) is associated with CAD and heart disease. Even with cardiac medication on aboard, and their BPs controlled (average BP for the cohort was less than 153/89), the CAD presented at ages 45 and 55 with advanced autonomic dysfunction, with P and §S levels continuing to decline until age 75, on average.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/RM_3A_CORONARY_ARTERY_DISEASE.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>DIABETIC NEUROPATHIES</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>A statement by the American Diabetic Association based on recent technical reviews and detailed discussions on the diagnosis and symptomatic treatment of Diabetic Neuropathies.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Diabetic Neuropathies.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>THE FRAMINGHAM HEART STUDY </h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To study the impact of reduced Heart Rate Variability on risk for cardiac events in a large community-based population, but reduced heart rate variability predicted increased risk for subsequent cardiac events.
                    </p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>Out of the 5698 subjects tested, only 2501 men and women were found to be free of clinically apparent heart disease. The mean age was found to be 52 years for men and 54 years for women. Women had higher HDL cholesterol levels, a lower ratio of total to HDL cholesterol, lower diastolic blood pressure, and higher mean heart rate than men.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Impact_of_Reduced_Heart_Rate_Variability_on_Risk.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>STUDY OF THE SECOND DERIVATIVE OF THE FINGER PHOTOPLETHYSMOGRAM </h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To elucidate on the independent determinants of the Second Derivative of the Finger Photoplethysmogram (SDPTG) among various Cardiovascular risk factors in middle-aged men.
                    </p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>The results indicate that several risk factors for CVD, such as age. hypertension. dyslipidemia. IFG/DM. a lack of regular exercise, and excessive drinking (6 to 7 days per week). were significantly associated with the SDPTG indices. The study also showed that the SDPTG indices were robustly related to age.
                    </p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Independent_Determinants_of_Second_Derivative.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>ENDOTHELIAL DYSFUNCTION IN ATHEROSCLEROSIS</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To elucidate on the role of Endothelial Dysfunction in Atherosclerosis
                    </p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>Endothelium and its product nitric oxide (NO) are key regulators of vascular health. Reduced bioavailability of NO is involved in the initiation, progression, and complications of atherosclerosis. The deficiency of nitric oxide in coronary or peripheral arteries is predictive of future cardiovascular events.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Role_of_Endothelial_Dysfunction_in_Atherosclerosis.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>DIABETES, GLUCOSE, INSULIN, AND HEART RATE VARIABILITY - The Atherosclerosis Risk in Communities (ARIC) study</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To describe the progression of autonomic impairment among individuals with diabetes and pre-diabetic metabolic impairments.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p> Cardiac autonomic impairment appears to be present at early stages of diabetic metabolic impairment, and progressive worsening of autonomic cardiac function over 9 years was observed in diabetic subjects.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Assessment_of_insulin_sensitivity_by_the_hyperinsulinemic_euglycemic_clamp.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>VITAMIN D STATUS, AUTONOMIC NERVOUS SYSTEM ACTIVITY, AND CARDIOMETABOLIC RISK
                </h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To explore the association between vitamin D status (serum 25-hydroxyvitamin D (25(OH)D)) and a cardiometabolic risk score (CMRS) derived from markers of cardiac autonomic nervous system activity. vascular dynamics, and body composition. using innovative non-invasive technology.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>CVD risk and vitamin D status and the benefit of vitamin D supplementation on cardiovascular health are established. The observations that vitamin D deficiency, cardiac ANS, and endothelial dysfunction are independently linked to CVD-related outcomes suggest a potential relationship between vitamin D deficiency and cardiovascular risk in diseased and healthy humans. Vitamin D affects multiple cellular signaling pathways via genomic and nongenomic actions that have the potential to affect cardiovascular health.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Vitamin_D_Status_Autonomic_Nervous System.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>ASSESSMENT OF VASCULAR AGING AND ATHEROSCLEROSIS IN HYPERTENSIVE SUBJECTS: Second Derivative of Photoplethysmogram Versus Pulse Wave Velocity</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To compare SDPTG and PWV concerning the influencing factors of vascular compliance, including age and atherosclerosis, in a large hypertensive population.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p> In a population of treated or untreated subjects with essential hypertension, aortic PWV was strongly related to age, blood pressure, and atherosclerosis, whereas the parameters of PTG or SDPTG were only strongly related to age. Thus, the PWV seems to be a= better marker of the presence of atherosclerosis, both in young and elderly patients,thantheSDPTGACI, which is related to AA only in older patients.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Assessment_of_Vascular_Aging.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>DETERMINATION OF AGE-RELATED INCREASES IN LARGE ARTERY STIFFNESS BY DIGITAL PULSE CONTOUR ANALYSIS</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To examine the timing of discrete components of the DVP to formulate an index of the contour of the DVP expected to relate to large artery stiffness (SIDVP), and also examine the relationship of SIDVP to age in asymptomatic subjects on no drug treatment, and compared SIDVP with values of PWV measured over the carotid-to-femoral region (PWVcf).</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>An index of vascular stiffness, SIDVP (derived from the DVP) is correlated with PWVcf, varies with age and blood pressure in a similar manner to PWVcf. and is influenced by vasoactive drugs to a similar extent as is PWVcf. The method for acquiring SIDVP is simple, inexpensive, rapid, and requires no special training. It is suitable for use in large-scale trials.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Determination_of_age_related_increases.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>DIABETES: SWEAT RESPONSE AND HEART RATE VARIABILITY DURING ELECTRICAL STIMULATION IN CONTROLS AND PEOPLE WITH DIABETES</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To examine whether electrical stimulation might be used as a predictive tool for assessing autonomic nervous system dysfunction in people with diabetes.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>People with diabetes have poor circulation due to vascular endothelial cell impairment. As a consequence of either reduced production or decreased sensitivity to NO, blood vessels remain constricted and show diminished ability to vasodilate. The HRV is lower in people with diabetes showing a very small variation in heart rate that is nearly flat in appearance.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Diabetes_Sweat_Response.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>THE RELATIONSHIP BETWEEN VASCULAR FUNCTION AND THE AUTONOMIC NERVOUS SYSTEM</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To summarize findings concerning the interrelationship between vascular function and the autonomic nervous system from both experimental and clinical studies. The clarification of this interrelationship is aimed towards providing more comprehensive risk stratification and a new effective therapeutic strategy against atherosclerosis.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p> Although there is much evidence linking the ANS and endothelium in healthy and diseased states, this area is still largely unexplored both under physiological and pathological conditions. The clarification of this interrelationship between the ANS and endothelium may provide more comprehensive risk stratification and a new effective therapeutic strategy against atherosclerosis.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/The_Relationship_between.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>ASSESSMENT OF INSULIN SENSITIVITY BY THE HYPERINSULINEMICEUGLYCEMIC CLAMP: COMPARISON WITH THE SPECTRAL ANALYSIS OF PHOTOPLETHYSMOGRAPHY</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To compare the spectral analysis of photoplethysmography (PTG) with insulin resistance measured by the hyperinsulinemic-euglycemic clamp (HEC) technique.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>With 45.8% of diabetic individuals going undiagnosed (Beagley, Guariguata, Weil, & Motala, 2014), this high prevalence of undiagnosed diabetics could be explained, among other reasons, by the slow progression of T2DM. The slow onset and/or asymptomatic feature of DM leads individuals to perform diagnostic tests much later, when micro or macrovascular complications, such as retinopathy, nephropathy, and coronary artery disease, have appeared (Thompson et al.,1996).</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Assessment_of_insulin_sensitivity_by_the_hyperinsulinemic_euglycemic_clamp.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>DETECTION OF NEUROPATHY USING A SUDOMOTOR TEST IN TYPE 2 DIABETES</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To evaluate the efficacy of a sudomotor testing device to detect peripheral distal neuropathy (PDN) and cardiac autonomic neuropathy (CAN) in patients with type 2 diabetes.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>The characteristics of the diabetic groups were similar except for age (mean 66 versus 56 years). However, there was no significant difference in skin conductance measurements in this age range. as shown in the Barontini et al study.2° Therefore, when comparing similar-characteristic diabetic groups. the SudoPath had good sensitivity and acceptable specificity for detecting the PDN, with AUC =0.858. The lower specificity could be explained by the fact that sudomotor dysfunction is the earliest clinically detectable stage of PDN, and therefore the DNS score could be =0 at this stage. It was also found that there was a good correlation between the SMP score and CAN score in all the subjects.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Sudomotor_Tests.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
          <div class="block">
              <div class="subtitlewrapper">
                  <h2>DIAGNOSIS AND TREATMENT OF PAIN IN SMALL FIBER NEUROPATHY</h2>
              </div>
              <div class="subtextwrapper">
                  <div class="listtextwrapper">
                      <h3>Premise</h3>
                      <p>To determine a diagnosis for small fiber neuropathy tailored toward identification and treatment of the underlying cause of the neuropathy, when possible, while simultaneously managing symptoms of pain.</p>
                  </div>
                  <div class="listtextwrapper">
                      <h3>Result</h3>
                      <p>Small fiber neuropathy is frequently associated with neuropathic pain. The clinical history and physical examination often are sufficient to make the diagnosis of a small fiber neuropathy. However, additional functional and pathological tests can help to confirm the diagnosis.</p>
                  </div>
                  <a href="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/pdf/Diagnosis and Treatment of Pain in Small Fiber Neuropathy__02-09-2021.pdf" target="_blank" class="bluebtn">Download PDF</a>
              </div>
          </div>
      </div>
  </mat-card>

  <app-footer></app-footer>
