
    <app-header></app-header>

<span class="main-bg">

<mat-card class="bannerblock">
    <span class="newcontainer">


        <span class="bannertextwrapper">
            <h1>Meet The <span>Team </span>
            </h1>
            <p>
                Just like any other successful organization, we have a group of talented and
                well-trained professionals, who work tirelessly to offer top-notch services to our clients and partners.
            </p>
        </span>

    </span>
</mat-card>
<mat-card class="padding-tb ot_block1">
    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ot_image1.png" class="abimage">
    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ot_image01.png" class="abimage2">
    <span class="newcontainer">
        
        <mat-card-content class="colcontainer">
            <mat-card-content class="col-3"></mat-card-content>
            <mat-card-content class="col-7">
                <span class="titlewrapper">
                    <h2>Our TEAM</h2>
                </span>
        
        
                <mat-list>
                    <mat-list-item>
                        <mat-card-content class="teammainwrapper">
                            <span class="imgmainwrapper">
                                <span class="imgwrapper">
                                    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/teamimg1.png">
                                </span>
                            </span>
                            <span class="textwrapper">
                                <h3>Gary Michael White</h3>
                                <p>Managing Partner</p>
                            </span>
                            <span class="so_wrapper"></span>
                        </mat-card-content>
                    </mat-list-item>
        
                    <mat-list-item>
                        <mat-card-content class="teammainwrapper">
                            <span class="imgmainwrapper">
                                <span class="imgwrapper">
                                    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/teamimg2.png">
                                </span>
                            </span>
                            <span class="textwrapper">
                                <h3>Tripp Jones</h3>
                                <p>Managing Partner</p>
                            </span>
                            <span class="so_wrapper"></span>
                        </mat-card-content>
                    </mat-list-item>
        
                    <mat-list-item>
                        <mat-card-content class="teammainwrapper">
                            <span class="imgmainwrapper">
                                <span class="imgwrapper">
                                    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/teamimg3.png">
                                </span>
                            </span>
                            <span class="textwrapper">
                                <h3>Christopher Rondon</h3>
                                <p>Managing Partner</p>
                            </span>
                            <span class="so_wrapper"></span>
                        </mat-card-content>
                    </mat-list-item>
        
                    <mat-list-item>
                        <mat-card-content class="teammainwrapper">
                            <span class="imgmainwrapper">
                                <span class="imgwrapper">
                                    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/teamimg4.png">
                                </span>
                            </span>
                            <span class="textwrapper">
                                <h3>Beto Paredes</h3>
                                <p>Business Development / <br>
                                    Engineering</p>
                            </span>
                            <span class="so_wrapper"></span>
                        </mat-card-content>
                    </mat-list-item>
        
                    <mat-list-item>
                        <mat-card-content class="teammainwrapper">
                            <span class="imgmainwrapper">
                                <span class="imgwrapper cover">
                                    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/teamimg6.png">
                                </span>
                            </span>
                            <span class="textwrapper">
                                <h3>Lannah Paredes</h3>
                                <p>Sales Management</p>
                            </span>
                            <span class="so_wrapper"></span>
                        </mat-card-content>
                    </mat-list-item>
        
                    <mat-list-item>
                        <mat-card-content class="teammainwrapper">
                            <span class="imgmainwrapper">
                                <span class="imgwrapper">
                                    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/teamimg7.png">
                                </span>
                            </span>
                            <span class="textwrapper">
                                <h3>Debasis Kar</h3>
                                <p>Chief Engineer</p>
                            </span>
                            <span class="so_wrapper"></span>
                        </mat-card-content>
                    </mat-list-item>
        
                    <mat-list-item>
                        <mat-card-content class="teammainwrapper">
                            <span class="imgmainwrapper">
                                <span class="imgwrapper">
                                    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/teamimg8.png">
                                </span>
                            </span>
                            <span class="textwrapper">
                                <h3>Subhra Ghatak</h3>
                                <p>Project Management</p>
                            </span>
                            <span class="so_wrapper"></span>
                        </mat-card-content>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card-content>
        
    </span>

    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/team_vmbanner1.png"> -->
</mat-card>


<mat-card class="teamnewblock3">
    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ts_image1.png" class="ab_image"> -->
    <span class="newcontainer">
        <span class="titlewrapper">
            <h2>Our Software Was Designed by Partner Beto Paredes and Our Chief Data Scientist Gary Michael White. </h2>

            <p>The Beto Paredes Family of Companies Have Launched Over 2,000 Projects Since 2004 With Major Platforms
                Builds for 7 of the inc.500 they Have 33 Full Time Engineers, Designers and Software Architects.</p>
        </span>
        <span class="listwrapper">
            <mat-card-content>
                <span class="temimgwrapper">
                    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/team_image1.png">
                </span>
            </mat-card-content>
            <mat-card-content>
                <span class="textwrapper">
                    <h3>Beyond Pece, They Have Extensive Software Development Background in the Medical Industry
                        Including:</h3>
                        <span class="pwrapper">
                    <p>Medical Device and Equipment Expiration and Procurement Technology</p>
                    <p>Ans Medical Device Med Tech Services Software</p>
                    <p>Medical Device Sales Operations Software</p>
                    <p>Laboratory Qualification and Requisition Form Software</p>
                    <p>Medical Necessity Survey Technology</p>
                    <p>Medical Industry Marketing Real Time Bidding Software </p>
                    <p>Online Marketplace Development for Used, Nearly Expired and Expired
                        Medical Equipment Sold Internationally (Partnered With the Largest Demand Side in the World)</p>
                    </span>

                </span>
            </mat-card-content>
        </span>


    </span>
</mat-card>


<mat-card class="ot_block1 ot_newblock3">
    <span class="newcontainer">
        <mat-card-content class="colcontainer">
            <mat-card-content class="col-4">
                <span class="yellowgradient">
                   Gary Michael White Has Placed  500+ Ans Devices Over the Last 10 Years. 
                    
                </span>
            </mat-card-content>
            <mat-card-content class="col-6">
                
        <span class="teamlistingwrapper">
            <mat-card-content class="teammainwrapper">
                <mat-card-content class="teamlisting">                    
                            <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/teamimg_01.png">                        
                    
                    <span class="so_wrapper"></span>
                    <span class="textwrapper">
                        <h3>Gary Michael White</h3>
                        <p>Managing Partner</p>
                    </span>
                </mat-card-content>
           

            <mat-card-content  class="teamlisting">
                <mat-card-content class="teammainwrapper">                    
                            <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/teamimg_02.png">                      
                    
                    <span class="so_wrapper"></span>
                </mat-card-content>
                <span class="textwrapper">
                    <h3>Tripp Jones</h3>
                    <p>Managing Partner</p>
                </span>
            </mat-card-content>

            <mat-card-content  class="teamlisting">                   
                            <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/teamimg_03.png">                       
                   
                    <span class="so_wrapper"></span> 
                    <span class="textwrapper">
                        <h3>Christopher Rondon</h3>
                        <p>Managing Partner</p>
                    </span>
            </mat-card-content> 
            
        </mat-card-content>
        <span class="textwrapper">              
            <p>Michael White has extensive experience with marker data from ANS testing and its value to Diagnostic
                Centers. He scripted the data science that operates the core algorithms in PECE. He is known in the
                industry for his high medical device adjudication programs and his mastery of the ANS testing
                environment. Currently he maintains a 98% adjudication rate across all his clients on the device that
                accompanies this program.
            </p>
        </span>
        </span>

        <span class="contentblock">
            <span class="textwrapper">
                <p>We also have 2 billing professionals, Tripp Jones and Chris Rondon, who works at maintaining the
                    algorithms associated with adjudication. They are both 30 years in the industry and own billing
                    companies with hundreds of clients. Tripp Jones is also a managing partner of Octavius, a medical
                    industry hedge fund owned by Morgan Stanley.</p>
            </span>
        </span>
            </mat-card-content>
        </mat-card-content>
        




    </span>


</mat-card>

</span>



<app-footer></app-footer>