    <app-header></app-header>

<mat-card class="bannerblock">
    <!-- <span class="newcontainer">
        <span class="bannertextwrapper">
            <h1>What is <img src="../../../assets/images/swt_pece.png">
            </h1>
            <p>
                A Powerful ANS Test Reporting Platform offering better Actionable Data for your Patient Population.
            </p>
            <h2>TAKE YOUR ANS TESTING SOLUTIONS TO THE NEXT LEVEL WITH A SOFTWARE PLATFORM THAT CAN BE FOUND NOWHERE ELSE!</h2>
        </span>

    </span> -->
</mat-card>
<span class="swtmainbg">
<mat-card class="swtblock2">
    <span class="newcontainer">
        <div class="textwrapper">
            <h3>Enterprise Management Features Specialized for your Medical Practice</h3>
        </div>
        <span class="swtbuttonwrapper">
            <button [scrollTo]="'#PhysiciansDashboard '" [scrollDuration]="1000" [scrollOffset]="0">PRACTICE DASHBOARD  </button>
            <button [scrollTo]="'#UploadingPatientReport'" [scrollDuration]="1000" [scrollOffset]="0">PHYSICIAN REPORT & SUPER BILLS</button>
            <button [scrollTo]="'#PatientReportReview'" [scrollDuration]="1000" [scrollOffset]="0">USER MANAGEMENT </button>
            <button [scrollTo]="'#EditEncounterFormandSendtoBiller'" [scrollDuration]="1000" [scrollOffset]="0">ADDITIONAL TESTING CRITERIA</button>
        </span>
            <span class="swtbuttonwrapper">
           
            <button [scrollTo]="'#PatientRecordCreationandAppointmentScheduling'" [scrollDuration]="1000" [scrollOffset]="0">PROFICIENT BILLING PROFILE & ADJUDICATION </button>
            <button [scrollTo]="'#CALENDARMANAGEMENT'" [scrollDuration]="1000" [scrollOffset]="0">CALENDAR MANAGEMENT</button>
            <button [scrollTo]="'#USERACTIVITYREPORTS '" [scrollDuration]="1000" [scrollOffset]="0">USER ACTIVITY REPORTS </button>
            <button [scrollTo]="'#JOBTICKETS'" [scrollDuration]="1000" [scrollOffset]="0">JOB TICKETS</button>
        </span>
    </span>
</mat-card>

<mat-card class="swtblock swtblock3" id="PhysiciansDashboard">
   <img src="../../../assets/images/swtnewdemoimage1.jpg" alt="#">
</mat-card>

<mat-card id="UploadingPatientReport" class="swtblock swtblock4">
    <img src="../../../assets/images/swtnewdemoimage2.jpg" alt="#">
    <img src="../../../assets/images/swtnewdemoimage3.jpg" alt="#">
</mat-card>


<mat-card class="swtblock swtblock5" id="PatientReportReview">
    <img src="../../../assets/images/swtnewdemoimage4.jpg" alt="#">
</mat-card>


<mat-card class="swtblock swtblock6" id="EditEncounterFormandSendtoBiller">
    <img src="../../../assets/images/swtnewdemoimage5.jpg" alt="#">
</mat-card>



<mat-card class="swtblock swtblock7" id="PatientRecordCreationandAppointmentScheduling">
    <img src="../../../assets/images/swtnewdemoimage6.jpg" alt="#">
    
</mat-card>

<mat-card class="swtblock swtblock7" id="CALENDARMANAGEMENT">
    <img src="../../../assets/images/swtnewdemoimage7.jpg" alt="#">
</mat-card>


<mat-card class="swtblock swtblock8" id="USERACTIVITYREPORTS">
    <img src="../../../assets/images/swtnewdemoimage8.jpg" alt="#">
</mat-card>

<mat-card class="swtblock swtblock9" id="JOBTICKETS">
    <img src="../../../assets/images/swtnewdemoimage9.jpg" alt="#">
</mat-card>







<app-footer></app-footer>