<span class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
    <a (click)="scrollToTop()">
        <i class="material-icons">arrow_drop_up</i>
      <!-- <img src="http://all-frontend-assets.s3.amazonaws.com/monetize365/images/scroll-to-top-icon.png" alt="scroll-to-top-icon"> -->
     </a>
  </span>  


<mat-card class="footermainwrapper">
 <span class="newcontainer">
    <mat-list>
        <mat-list-item class="footeritem1"> 
            <span class="footerlogowrapper">
                <img src="../../../assets/images/footerlogo.png">
            </span>           

        </mat-list-item>
        <mat-list-item class="footeritem2"> 
            <mat-card-title>Quick Links </mat-card-title>
            <span class="footermenu" >
                <span>
            <a (click)="gotoTop()" [routerLink]="['/home']" routerLinkActive="activemenu"  class="ABC">Home</a>
            <a (click)="gotoTop()"  routerLinkActive="activemenu" [routerLink]="['/the-science']">The Science</a>
        </span>
        <span>
            <a (click)="gotoTop()" routerLinkActive="activemenu" [routerLink]="['/the-tm-flow-device']">The Tm-flow Device  </a>
            <a (click)="gotoTop()" routerLinkActive="activemenu" [routerLink]="['/pece-virtual-platform']"> <span class="pece">PECE</span>  Virtual Platform</a>
        </span>
            <span>
            <a (click)="gotoTop()" routerLinkActive="activemenu" [routerLink]="['/software-walk-through']">Software Walk-through </a>
            <a (click)="gotoTop()" routerLinkActive="activemenu" [routerLink]="['/doctor-recommend']">Doctor Recommend</a>
        </span>
        <span>           
            <a (click)="gotoTop()" routerLinkActive="activemenu" [routerLink]="['/contact']">Contact Us</a>
        </span>
        </span>
        </mat-list-item>
        <mat-list-item class="footeritem3">
            <mat-card-title>Our Address </mat-card-title>
            <mat-card-content>
                <mat-card-subtitle>
                    <span>
                        <a  href="https://goo.gl/maps/KBCNiQmn8YEKA1M57" target="_blank"> 1175 American Pacific Dr STE F, Henderson, NV 89074</a>                       
                    </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <a href="tel:877-979-847">Phone :  877-979-8479</a>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <a href="mailto:support@hpspros.com">Email : support@hpspros.com</a>
                </mat-card-subtitle>
            </mat-card-content>
        </mat-list-item>
       </mat-list>
 </span>
</mat-card>
<mat-card class="footerblock2">
    <div class="newcontainer">
        <p>Terms & Conditions      Privacy Policy      Copyright © 2019 WAS. All Rights Reserved.</p>
    </div>
    
</mat-card>
