<div class="lpmainwrapper">
    <div class="topbannerblock">
        <mat-card class="lpblock1">
            <div class="newcontainer">
                <mat-card-content class="lptopbar">
                    <span class="lp_logowrapper"><img src="../../../assets/images/lplogo.png" alt="#"></span>
                    <span class="lptopbartext">
                        <div class="textwrapper">
                            <h2>
                                <span>The <i class="pece"> PECE</i> Medical Device Platform and</span>
                                <span>Managed Services</span>
                            </h2>
                        </div>
                    </span>
                </mat-card-content>
            </div>
        </mat-card>
        <mat-card class="lpblock2">
            <div class="newcontainer">
                <mat-card-content class="lpblock1subblock1">
                    <div class="formmainwrapper">
                        <div class="formtitle">
                            <h2>Fill In Your <br>
                                Details</h2>
                        </div>

                        <!-- <lib-showform *ngIf="formdata !=null" [formdata]="formdata" [formfieldrefresh]="formfieldrefresh"
                [formfieldrefreshdata]="formfieldrefreshdata" (onFormFieldChange)="listenFormFieldChange($event)" >
              </lib-showform> -->

              <form [formGroup]="options" (ngSubmit)="contactUs()">
                <mat-form-field appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input matInput  formControlName="firstname" (blur)="inputUntouched('firstname')">
                  <mat-error *ngIf="!options.controls['firstname'].valid && options.controls['firstname'].errors.required && options.controls['firstname'].touched">
                      First Name field can not be blank
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastname" (blur)="inputUntouched('lastname')">
                  <mat-error *ngIf="!options.controls['lastname'].valid && options.controls['lastname'].errors.required && options.controls['lastname'].touched">
                      Last Name field can not be blank
                  </mat-error>
                </mat-form-field>
               
                <mat-form-field appearance="fill">
                  <mat-label>Email Address</mat-label>
                  <input matInput formControlName="email" (blur)="inputUntouched('email')">
                  <mat-error *ngIf="!options.controls['email'].valid && options.controls['email'].errors.required && options.controls['email'].touched">
                    Email field can not be blank
                  </mat-error>
                  <mat-error *ngIf="!options.controls['email'].valid && !options.controls['email'].errors.required">Email is not valid</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Phone </mat-label>
                  <input matInput type="number" formControlName="phone" (blur)="inputUntouched('phone')">
                  <mat-error *ngIf="!options.controls['phone'].valid && options.controls['phone'].errors.required && options.controls['phone'].touched">
                    Phone Number field can not be blank
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password" (blur)="inputUntouched('password')">
                  <mat-error *ngIf="!options.controls['password'].valid && options.controls['password'].errors.required && options.controls['password'].touched">
                    Password field can not be blank
                  </mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput type="password"  formControlName="confirmpassword" (blur)="inputUntouched('confirmpassword')" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="!options.controls['confirmpassword'].valid && options.controls['confirmpassword'].errors.required && options.controls['confirmpassword'].touched">
                    Confirm Password field can not be blank
                  </mat-error>
                  <mat-error *ngIf="options.hasError('notSame')">
                    Password do not match
                  </mat-error> 
                  
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Company Name</mat-label>
                  <input matInput type="text"  formControlName="companyname" (blur)="inputUntouched('companyname')">
                  <mat-error *ngIf="!options.controls['companyname'].valid && options.controls['companyname'].errors.required && options.controls['companyname'].touched">
                    Company Name field can not be blank
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>City</mat-label>
                  <mat-select  formControlName="city"  (blur)="inputUntouched('city')" >
                    <mat-option *ngFor="let item of cityVal" value="{{item.val}}">{{item.name}}</mat-option>
                  </mat-select>
                 
                  <mat-error *ngIf="!options.controls['city'].valid && options.controls['city'].errors.required && options.controls['city'].touched">City is required</mat-error>
              </mat-form-field>

                <mat-form-field appearance="fill">
                 
                  <mat-label> State</mat-label>                               
                  <mat-select   formControlName="state" (blur)="inputUntouched('state')" >
                    <mat-option *ngFor="let item of stateVal" value="{{item.val}}">{{item.name}}</mat-option>
                  </mat-select>
                  
                  <mat-error *ngIf="!options.controls['state'].valid && options.controls['state'].errors.required && options.controls['state'].touched">State is required</mat-error>
              </mat-form-field>
                 
              <mat-form-field appearance="fill">
                  <mat-label>Zip</mat-label>
                  <input matInput type="number" formControlName="zipcode" (blur)="inputUntouched('zipcode')">
                  <mat-error *ngIf="!options.controls['zipcode'].valid && options.controls['zipcode'].errors.required && options.controls['zipcode'].touched">
                    Zip is required</mat-error>
                </mat-form-field>
                            <div class="submitbtnwrapper">
                                <img src="../../../assets/images/buttonicon1.png" alt="#">
                                <button class="submitbtn"><span>Submit</span></button>
                            </div>
                        </form>
                    </div>
                    <div class="lpblock1subtextwrapper">
                        <div class="textsubwrapper textwrapper">
                            <div class="texttitlewrapper">
                                <div class="texttitlesubwrapper">
                                    <h2>
                                        <span>ATTENTION</span>
                                        <span>PHYSICIANS!!!</span>
                                    </h2>
                                </div>
                            </div>
                            <h4>Get the Complete Ans Testing Medical Device Platform for Your Practice</h4>
                            <h3>THIS CUTTING-EDGE TECHNOLOGY IMPROVES PATIENT OUTCOMES AND SIGNIFICANTLY AFFECTS YOUR
                                BOTTOM LINE!</h3>
                        </div>

                        <div class="arrowmainwrapper">
                            <img src="../../../assets/images/lpageimage3.png" alt="#">
                            <div class="arrowwrapper">
                                <h2>
                                    <span>Learn more about our unparalleled program.</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <div class="border2"></div>
            </div>
        </mat-card>
    </div>
    <mat-card class="lpblock3">
        <mat-card-content class="newcontainer">
            <div class="titlewrapper">
                <h3>
                    The Patient Report View from the <i class="pece">PECE</i> <br> ANS Medical Device Platform
                </h3>
            </div>
            <div class="imgwrapper">
                <img src="../../../assets/images/homenewimage4.jpg" alt="#">
            </div>
            <button class="blackbtn">Learn Incredible Science About Our Platform Today!</button>
        </mat-card-content>
    </mat-card>


    <mat-card class="lpblock4">
        <mat-card-content class="newcontainer">
            <div class="titlewrapper">
                <h3>
                    Our platform validates over 21 additional exams for <br> potential next-steps for the physician.
                    Including:
                </h3>
            </div>
            <div class="lpblock4subwrapper1">
                <div class="listtext2">
                    <span class="col1">
                        <p>MRI</p>
                        <p>EEG</p>
                        <p>Blood Tests</p>
                        <p>CT Scan</p>
                        <p>NCS</p>
                        <p>A1C</p>

                    </span>
                    <span class="col2">
                        <p>Ultrasound / Vascular Studies</p>
                        <p>Thermoregulatory Sweat Tests</p>
                        <p>Angiography</p>
                        <p>Advanced ECG</p>
                        <p>Small Fiber Neuropathy Testing</p>
                        <p>Stress Tests</p>
                    </span>
                    <span class="col3">
                        <p> Chest X-Ray</p>
                        <p>Glucose Tolerance Testing</p>
                        <p>Holter Monitor</p>
                        <p>EMG</p>
                        <p>Bone Scan</p>
                    </span>
                </div>
                <button class="blackbtn">Learn Incredible Science About Our Platform Today!</button>
            </div>
        </mat-card-content>
    </mat-card>



    <mat-card class="lpblock5">
        <mat-card-content class="newcontainer">
            <div class="titlewrapper">
                <h3>
                    THE <span class="pece">PECE</span> ANS TESTING MANAGEMENT PLATFORM
                </h3>
            </div>

            <div class="lpblock5subwrapper1">
                <div class="textwrapper">
                    <p>
                        The platform offers a complete 360-degree solution with fully-managed services for the
                        <span>ANS testing industry, offering physician-access to critical ANS data.</span>
                        Our comprehensive Enterprise Management system offers your practice all the professional
                        services necessary for the
                        continued success of the ANS testing environment within your medical practice.
                    </p>
                </div>
                <div class="listtext2mainwrapper">
                    <div class="titlewrapperwitharrpw">
                        <h2>Including</h2>
                    </div>
                    <div class="listtext2">
                        <span class="col1">
                            <p>Operating the ANS scan </p>
                            <p>Viewing the test report</p>
                            <p>Identifying next-step measures and additional testing
                                based on biomarkers</p>
                            <p>Updated Billing procedures</p>
                            <p>Adjudication</p>
                            <p>Maintenance of the PECE platform and the
                                ANS medical device</p>
                        </span>
                    </div>
                </div>
                <div class="textwrapper textwrapper2">
                    <h3>With our all-encompassing <span>ANS</span> testing program, we build a relationship with your
                        practice where you will have constant and consistent assistance, every step of the way!</h3>
                </div>
                <button class="blackbtn">Learn More About Our <span class="pece">PECE</span> Virtual Platform.</button>

            </div>

        </mat-card-content>
    </mat-card>

    <mat-card class="lpblock6">
        <mat-card-content class="newcontainer">


            <div class="lpblock6subwrapper1">
                <div class="titlewrapper titlewrapper2">
                    <h3>
                        Transform your ANS testing solutions and take them to the next level with an ANS test management
                        software platform, unlike anything you can find in the ANS testing industry.
                    </h3>
                </div>
                <div class="colcontainer">

                    <div class="textwrapper">
                        <p>
                            Explore our <span>Visual Demonstrations</span> to understand some of the most
                            important functions that you and your medical practice will have access to. As a Practice,
                            you will have access to incredible data through our
                            <span>Patient Report and Encounter Form</span> viewing feature that will help
                            you to significantly improve patient outcomes!
                        </p>
                        <button class="blackbtn">Learn More About Our Software Model.</button>
                    </div>
                    <div class="imagewrapper"><img src="../../../assets/images/lpageimage6.jpg" alt="#"></div>

                </div>
            </div>

        </mat-card-content>
    </mat-card>


    <mat-card class="lpblock7">
        <mat-card-content class="newcontainer">
            <div class="colcontainer">
                <mat-card-content class="col">
                    <div class="imagewrapper"><img src="../../../assets/images/lpageicon1.png" alt="#"></div>
                    <div class="blog">
                        <div class="blogtitle">
                            <h3><span class="pece">PECE</span> Science</h3>
                        </div>
                        <div class="blogtext">
                            <p>Information about the important <b>SCIENCE</b> that governs our <b>ANS</b> Testing technology.</p>
                        </div>
                    </div>
                    <button class="blackbtn">Learn More</button>
                </mat-card-content>
                <mat-card-content class="col">
                    <div class="imagewrapper"><img src="../../../assets/images/lpageicon2.png" alt="#"></div>
                    <div class="blog">
                        <div class="blogtitle">
                            <h3><span class="pece">PECE</span> Platform</h3>
                        </div>
                        <div class="blogtext">
                            <p>Discover the significant aspects of our  <b>Fully-managed  ANS</b> testing 
                                services portal.</p>
                        </div>
                    </div>
                    <button class="blackbtn">Learn More</button>
                </mat-card-content>
                <mat-card-content class="col">
                    <div class="imagewrapper"><img src="../../../assets/images/lpageicon3.png" alt="#"></div>
                    <div class="blog">
                        <div class="blogtitle">
                            <h3>Hardware</h3>
                        </div>
                        <div class="blogtext">
                            <p>View the technical details of our <b>FDA CLEARED ANS</b> testing 
                                medical device platform.</p>
                        </div>
                    </div>
                    <button class="blackbtn">Learn More</button>
                </mat-card-content>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="lpblock8">
        <mat-card-content class="newcontainer">
            <div class="textwrapper">
                <p>Terms & Conditions</p>
                <p>Privacy Policy </p>
                <p>Copyright © 2019 WAS. All Rights Reserved.</p>
            </div>
        </mat-card-content>
    </mat-card>

</div>











<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage1.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage2.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage3.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage4.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage5.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage6.jpg" alt=""></div> -->