<app-header></app-header>

<div class="bannerblock">
    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage1.png" class="abimage">
    <span class="newcontainer">
        <span class="bannertextwrapper">
            <span class="bannertext">
                <div class="listtitle">
                    <h3>
                        The TM-Flow System Markers
                    </h3>
                </div>

                <div class="titlewrapper">
                    <h4>THE MARKERS FOR THE TM-FLOW SYSTEM INCLUDE:</h4>
                </div>
                <div class="buttonwrapper">
                    <button class="btnblue">ANS ASSESSMENT MARKERS</button>
                    <button class="btnblue">VASCULAR ASSESSMENT MARKERS</button>
                </div>
                <div class="bannerlistwrapper">
                    <p>Sudomotor Markers</p>
                    <p>Cardiac Autonomic Reflex
                        Tests (CARTs)</p>
                    <p>Heart Rate Variability (HRV)</p>
                    <p>PERIPHERAL CIRCULATION MARKERS</p>
                    <p>SEGMENTAL VASCULAR
                        ASSESSMENT</p>
                </div>
            </span>
        </span>

    </span>

</div>
<mat-card class="ptmfsmblock2">
    <div class="newcontainer">
        <div class="titlewrapper">
            <h2>THE AUTONOMIC NERVOUS SYSTEM (ANS) MARKERS</h2>
        </div>
    </div>
    <div class="ptmfsmblock2subwrapper">
        <div class="newcontainer">
            <div class="listtitle gradienttext">
                <h2>
                    <span>CARDIAC AUTONOMIC NEUROPATHY (CAN)</span>
                    <span>DIAGNOSTIC MARKERS</span>
                </h2>
            </div>
            <div class="col-container col-container1">
                <div class="col-2 greengradient">
                    <h2>
                        HRV <br> MARKERS
                    </h2>
                </div>
                <div class="col-8 graygradient">
                    <div class="textwrapper">
                        <p>The heart rate is measured by the First and Second derivative (a-wave) of the
                            photoplethysmography compared to the EKG heart rate measurement, It achieved an overall
                            average sensitivity for a-waves detection 100% and a positive predictivity was 99.88%. over
                            27 records, containing a total of 3370 heartbeats [7} HRV markers can be used for early
                            stages of Cardiac autonomic neuropathy.</p>
                        <p>
                            The Heart Rate Variability (HRV) markers are measured in 2 minutes-time. The ARIC study
                            validated the HRV 2 minute- time measurement and the normal ranges associated with this
                            measurement time.</p>
                    </div>
                </div>
            </div>
            <div class="textwrapper listtextwrapper">
                <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage2.png" class="abimage">
                <div class="subtextwrapper">
                    <h3>TOTAL POWER</h3>
                    <p class="listblue">
                        Total Power is calculated by the spectral analysis of the heart rate variability in 2 minutes at
                        rest. It is a measure of the overall activity of the autonomic nervous system at rest and
                        ensures the maintenance of the autonomic homeostatic function at rest.
                    </p>
                </div>
                <div class="subtextwrapper">
                    <h3>SDANN STANDS FOR STANDARD DEVIATION AVERAGE
                        NORMAL TO NORMS (RR INTERVALS)</h3>
                    <p class="listgreen">
                        SDANN is calculated from the time domain of the HRV in 2 minutes at rest. It is a measure of
                        both sympathetic and parasympathetic system activity.
                    </p>
                </div>
            </div>
            <div class="col-container col-container2 shadow">
                <div class="col-2 greengradient">
                    <h2>
                        CARDIAC AUTONOMIC REFLEX TESTS (CARTs)
                    </h2>
                </div>
                <div class="col-8 graygradient">
                    <div class="textwrapper">
                        <h2>PARASYMPATHETIC RESPONSE MARKERS AFTER ANS CHALLENGES</h2>
                        <p>The Parasympathetic responses tests are based on heart rate or RR intervals Ratio during the
                            maneuvers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ptmfsmblock2subwrapper2">
        <div class="newcontainer">
            <div class="textwrapper listtextwrapper">
                <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage3.png" class="abimage">
                <div class="subtextwrapper">
                    <h3>VALSALVA RATIO</h3>
                    <p class="listblue">
                        It is calculated from the HRV Ratio during the Valsalva maneuver. It reflects the cardiovagal
                        response to the systolic pressure change. It is the best marker of parasympathetic baroreceptor
                        reflex sensitivity.
                    </p>
                </div>
                <div class="subtextwrapper">
                    <h3>E/I RATIO STANDS FOR EXPIRATION/INSPIRATION RATIO</h3>
                    <p class="listgreen">
                        E/I Ratio is calculated from the HRV Ratio during the deep breathing test. It is a measure of
                        vagal innervation.
                    </p>
                </div>
                <div class="subtextwrapper">
                    <h3>K30/15 RATIO STANDS FOR HEART RATE AT 30 SECONDS
                        / HEART RATE AT 15 SECONDS RATIO</h3>
                    <p class="listblue">
                        K30/15 Ratio is calculated from the HRV Ratio during a change of posture (lying down to stand
                        up). It is a measure of the cardiac vagal function and it also diagnoses the Post Postural
                        orthostatic Syndrome (POTS) or vagal
                    </p>
                </div>
            </div>
            <div class="col-container col-container1 shadow">
                <div class="col-2 greengradient">
                    <h2>
                        SYMPATHETIC <br> MARKERS
                    </h2>
                </div>
                <div class="col-8 graygradient">
                    <div class="textwrapper">
                        <h2>
                            <span>The Sympathetic response tests are based on blood</span>
                            <span>pressure changes during the maneuvers.</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ptmfsmblock2subwrapper3">
        <div class="newcontainer">
            <div class="textwrapper listtextwrapper">
                <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage4.png" class="abimage">
                <div class="subtextwrapper">
                    <h3>SPRS STANDS FOR DELTA SYSTOLIC PRESSURE RESPONSE AT STANDING</h3>
                    <p class="listblue">
                        It is calculated from the HRV Ratio during the Valsalva maneuver. It reflects the cardiovagal
                        response to the systolic pressure change. It is the best marker of parasympathetic baroreceptor
                        reflex sensitivity.
                    </p>
                </div>
                <div class="subtextwrapper">
                    <h3>DPRS STANDS FOR SYSTOLIC PRESSURE RESPONSE AT STANDING</h3>
                    <p class="listgreen">
                        E/I Ratio is calculated from the HRV Ratio during the deep breathing test. It is a measure of
                        vagal innervation.
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>


<mat-card class="ptmfsmblock3">
    <div class="newcontainer">
        <div class="textwrapper textwrapperbg">
            <h2>CARDIAC AUTONOMIC NEUROPATHY READING GUIDANCE</h2>
        </div>
        <div class="ptmfsmblock3subwrapper1">
            <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage6.png" class="abimage">
            <div class="col-container">
                <div class="col-5">
                    <div class="imgwrapper">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage5.jpg">
                    </div>
                </div>
                <div class="col-5">
                    <div class="textwrapper textwrapperbg">
                        <p>CARTs are the “Gold” standard clinical tests for cardiovascular autonomic neuropathy. In the
                            CAN Subcommittee of the Toronto Consensus Panel statement are defined criteria for CAN
                            definition and severity. For the early CAN diagnosis, only one abnormal CART result (among
                            the 7 tests: 5 CARTs and HRV tests in time- and frequency-domains) is sufficient; definite
                            CAN should be confirmed by
                            <span>2 or 3 abnormal tests</span> and severe CAN can be indicated by the <span>development
                                of OH.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ptmfsmblock3subwrapper2">
            <div class="listtitle gradienttext">
                <h2>
                    <span>SUDMOTOR TESTS : DIABETIC OR SMALL FIBER</span>
                    <span>NEUROPATHY DIAGNOSTIC MARKERS</span>
                </h2>
            </div>
            <div class="textsubwrapper">
                <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage7.png" class="abimage">
                <div class="textwrapper">
                    <p>Sudomotor testing assesses the postganglionic cholinergic sympathetic vasodilatory response to
                        predetermined stimulation which induces the activation of the cholinergic fiber and sweat
                        release. The postganglionic cholinergic sympathetic vasodilatory response
                        <span>(PCSVR marker NO peak)</span>
                        is evaluated at the negative electrode and the density of the active cholinergic fiber according
                        to the sweat production response
                        <span>marker Sweat Peak)</span>
                        is evaluated at the positive electrode. The measured responses are displayed in voltage (mV).
                        Normal ranges were established on more than 20,000 Healthy subject databases.
                    </p>
                </div>
            </div>
        </div>

        <div class="ptmfsmblock3subwrapper3">
            <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage8.png" class="abimage">
            <div class="textwrapper textwrapperbg">
                <h1>LEFT AND RIGHT FOOT NO PEAK STANDS FOR NITRIC OXIDE PEAK</h1>
                <p>NO Peak is calculated from the peak amplitude of the galvanic skin response at the
                    negative electrode. It is a measure of the postganglionic cholinergic sympathetic
                    vasodilatory response.</p>
            </div>
            <div class="textwrapper textwrapperbg">
                <h1>LEFT AND RIGHT FOOT SWEAT PEAK</h1>
                <p>Sweat Peak is calculated from the peak amplitude of the galvanic skin response at the positive
                    electrode. It is a measure of the density of the active cholinergic fiber according to the sweat
                    production response. </p>
            </div>
            <div class="textwrapper list">
                <h2>
                    <span>NERVES AFFECTED AND TESTING FOR PERIPHERAL</span>
                    <span>DISTAL NEUROPATHY</span>
                </h2>
                <p>Pain may be caused by any dysfunction or damage of Peripheral nerve (motor nerve) 
                    and/or <span>Aα fiber</span> (large fiber) and /or <span>Aδ </span> (sensory nerve) and/or <span>C-Fiber</span> Autonomic 
                    cholinergic sympathetic fiber controlling the sudomotor function)</p>
            </div>
            <div class="textwrapper list">
                <h2>Used diagnostic tools:</h2>
                <p>The vibration tests are used to detect the Aα fiber dysfunction or damage. The monofilament tests are used to detect the <span>Aδ fiber dysfunction or damage.</span>
                    The nerve conduction velocity studies are used to detect the <span>Peripheral nerve dysfunction or damage.</span>
                </p>
                <p>The sudomotor tests are used to detect the <span>C-Fiber dysfunction or damage. </span> The C-Fibers are unmyelinated. Therefore, they are not protected and usually should be the first ones to be affected before the other myelinated nerves.</p>
            </div>
        </div>

        <div class="ptmfsmblock3subwrapper4">
            <div class="listtitle gradienttext">
                <h2>SUDMOTOR TESTS READING GUIDANCE</h2>
            </div>
            <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage10.png" class="abimage">
            <div class="col-container">
                <div class="col-4">
                    <div class="imgwrapper">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage9.jpg">
                    </div>
                </div>
                <div class="col-6">
                    <div class="textwrapper textwrapperbg">
                        <p>The Lewis at al. study [15]shown that the NO peak marker can be useful for detecting microvascular diseases.
                            The marker NO Peak inversely correlated with BUN (ρ = −0.41, p < 0.0001), homocysteine (ρ = −0.44, p < 0.0001), fibrinogen (ρ = −0.41, p < 0.0001), Receiver operating characteristic curve of NO Peak.
                            NO Peak had a sensitivity of 88% and specificity of 68% (cut-off score ≤ 64) with an area under the curve (AUC) = 0.81 (SE = 0.04; 95% CI = 0.72, 0.88) and an asymptotic significance <0.0001).
                            Sweat Peak inversely correlated with the severity of symptoms on the peripheral neuropathy scale (ρ = −0.56, p < 0.0001). 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<mat-card class="ptmfsmblock4">
    <div class="titlewrapper titlewrapperbg">
        <h2>THE VASCULAR ASSESSMENT MARKERS</h2>
        <h3>ENDOTHELIAL FUNCTION MARKERS</h3>
    </div>
    <div class="newcontainer">
        <div class="ptmfsmblock4subwrapper1">
            <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage11.png" class="abimage">
            <div class="col-container col-container1">
                <div class="col-2 greengradient">
                    <h2>ENDOTHELIAL FUNCTION  CONTROLS :</h2>
                </div>
                <div class="col-8 graygradient">
                    <div class="textwrapper">
                        <p>Our ANS testing medical device platform assesses these 5 markers using  the patented analysis of the vasomotion or flow motion</p>
                        <div class="subtextwrappernew">
                            <p>Pro-inflammatory</p>
                            <p>Vascular tone</p>
                            <p>Insulin Resistance marker</p>
                            <p>Blood flow</p>
                            <p>Pro-thrombotic</p>
                        </div>                        
                    </div>
                </div>
            </div>
            
            <div class="textwrapper textwrapperbg">
                <h2>PTG-TP STANDS FOR PHOTOPLETHYSMOGRAPHY TOTAL POWER</h2>
                <p>It is calculated from the spectral analysis of the oximeter waveform (Photoplethysmography or PTG). PTG -TP is the sum of 
                    the area of the 3 frequencies of the spectral analysis. Our clinical study showed that PTG-TP is a marker of insulin resistance.</p>
            </div>
            <div class="textwrapper textwrapperbg">
                <h2>PTGi STANDS FOR PHOTOPLETHYSMOGRAPHY INDEX</h2>
                <p>It is calculated from the spectral analysis of the oximeter waveform (Photoplethysmography or PTG). PTGi is the sum of the area of the 3 frequencies of the spectral analysis. Our clinical study showed that PTGi is correlated with the heart’s artery blood flow.</p>
            </div>
            <div class="textwrapper textwrapperbg">
                <h2>STRESS INDEX</h2>
                <p>It is calculated from the spectral analysis of the oximeter waveform (Photoplethysmography or PTG). It is the Amplitude 
                    of the PTG VLF frequency. Clinical studies showed a good correlation with the lab test C-Reactive protein.</p>
            </div>
            <div class="textwrapper textwrapperbg">
                <h2>
                    <span>PTG-TP STANDS FOR PHOTOPLETHYSMOGRAPHY</span>
                    <span>TOTAL POWER</span>
                </h2>
                <p>It is calculated from the spectral analysis of the oximeter waveform (Photoplethysmography or PTG). PTG -TP is the sum of 
                    the area of the 3 frequencies of the spectral analysis. Our clinical study showed that PTG-TP is a marker of insulin resistance.</p>
            </div>
            <div class="textwrapper textwrapperbg">
                <h2>PTG SD RATIO STANDS FOR PHOTOPLETHYSMOGRAPHY SECOND DERIVATIVE RATIO</h2>
                <p>Studies using vasodilator medications showed that the PTG SD ratio is correlated to the vascular tone.</p>
            </div>
        </div>
        <div class="ptmfsmblock4subwrapper2">
            <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage12.png" class="abimage">
            <div class="titlewrapper">
                <h2>ENDOTHELIAL FUNCTION READING GUIDANCE</h2>
            </div>
            <div class="textwrapper liststyle1">
                <p>The PTG spectral analysis provides oscillation called vasomotion or flowmotion.
                    Vasomotion is defined as the spontaneous rhythmic contraction and dilation of the muscle components in the small blood vessel walls which generate rhythmic changes in their diameter.</p>
                <p>Vasomotion could be measured by the  <span>Lase Doppler Flowmetry (LDF)</span> as well as the <span>photoplethysmography (PTG)</span> using the spectral analysis of the generated wave of the microcirculatory blood volume changes.</p>
                <p>The findings that ACh iontophoresis increased amplitude of the oscillation around 0.009–0.02 Hz to a greater extent than sodium nitroprusside iontophoresis or than ischemia suggested a role of the endothelium in the control of this flowmotion component. This role was confirmed by the observation that L-NMMA abolished this difference.</p>
                <p>The normal ranges of the component of the vasomotion have been established from the clinical studies.</p>
            </div>
        </div>
        <div class="ptmfsmblock4subwrapper3">
            <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage14.png" alt="" class="abimage">
            <div class="col-container">
                <div class="col-4">
                    <div class="imgwrapper shadow2">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage13.jpg" alt="#">
                    </div>
                </div>
                <div class="col-6">
                    <div class="textwrapper textwrapperbg">
                        <h2>ARM BLOOD PRESSURE ANALYSIS</h2>
                        <h1>CASP STANDS FOR CENTRAL AORTIC SYSTOLIC PRESSURE</h1>
                        <p>Our technique for assessing CASP uses cuff-based volume plethysmography analysis at the brachial artery. Longitudinal observations provide greater support for the potential value of central pressure measurements. In the REASON Study, regression of LVM was more strongly related to the change in central pressure compared with brachial pressure and, after adjustment, only central pressure remained predictive. Similar observations were made in a sub-study of ASCOT.</p>
                        <h1>DELTA RIGHT AND LEFT ARM</h1>
                        <p>It is a marker of subclavian or axillary stenosis when higher than 20 mmHg.</p>
                    </div>
                    <div class="textwrapper textwrapperbg">
                        <h2>LARGE ARTERY STIFFNESS</h2>
                        <h1>
                            <span>RIGHT AND LEFT baPWV STANDS FOR BRACHIAL ANKLE PULSE </span>
                            <span>WAVE VELOCITY</span>
                        </h1>
                        <p>baPWV is calculated from the volume plethysmography at the arm and ankles, and by the height of the patient. It is a measure of lower extremity artery stiffness.</p>
                        <h1>
                            <span>PERIPHERAL AIx OR (pAIx) STANDS FOR PERIPHERAL </span>
                            <span>AUGMENTATION INDEX </span>
                        </h1>
                        <p>pAIx is a ratio calculated from the blood pressure waveform. It is a measure of wave reflection and aortic arterial stiffness. The Peripheral Augmentation Index (pAIx) is commonly accepted as a measure of the enhancement augmentation) of central aortic pressure by a reflected pulse wave.</p>
                    </div>
                    <div class="textwrapper textwrapperbg">
                        <h2>LOWER EXTREMITY LARGE ARTERY MARKERS</h2>
                        <p>According to the 'Management of Patients with Peripheral Artery Disease' published by the Journal of the American College of Cardiology and amplitudes from volume plethysmography records analysis.</p>
                        <h1>ABI STANDS FOR ANKLE BRACHIAL INDEX</h1>
                        <p>ABI is calculated from the lowest systolic pressure (dorsalis Pedis and Posterior tibial artery) at each ankle divided the highest systolic pressure at arms. It is accepted as a diagnosis of the Peripheral Artery Disease (PAD) at the lower extremity and a marker of atherosclerosis.</p>
                        <h1>SA AMPLITUDE STANDS FOR SPECTRAL ANALYSIS OF AMPLITUDE</h1>
                        <p>SA Amplitude is calculated from the spectral analysis of the volume plethysmography recorded from the cuffs during the deflation during the blood pressure measurement at the arms and ankles. It is a marker of the blood flow recovery after artery occlusion.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ptmfsmblock4subwrapper4">
            <div class="titlewrapper">
                <h2>ABI READING GUIDANCE</h2>
            </div>
            <div class="col-container">
                <div class="col-6">
                    <div class="imgwrapper">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage15.jpg" alt="#">
                    </div>
                    <div class="textwrapper liststyle1">
                        <p>Eight studies assessed the diagnostic performances of an ABI <=0.90 to detect >= 50% stenosis identified by imaging methods, including color duplex ultrasound, magnetic resonance angiography, or angiography. All these studies found reasonably high specificity (83%–99%).</p>
                        <p>Ouriel et al Aboyans et al Measurement and Interpretation of the Ankle-Brachial Index 2893 reported an average ABI decrease of 5% from resting to post-exercise values after treadmill exercise in healthy people compared with 20% in patients with PAD.</p>
                        <p>To improve the precision of the test, it is reasonable to measure each limb pressure twice and to average the results of each artery to calculate the ABI (Class IIa; Level of Evidence C).</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="imgwrapper shadow2">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage16.jpg" alt="#">
                    </div>
                </div>
            </div>

        </div>
        <div class="ptmfsmblock4subwrapper5">
            <div class="titlewrapper">
                <h2>VOLUME PLETHYSMOGRAPHY READING GUIDELINES</h2>
            </div>
            <div class="col-container">
                <div class="col-4">
                    <div class="imgwrapper shadow2">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage18.jpg" alt="#">
                    </div>
                </div>
                <div class="col-6">
                    <div class="imgwrapper">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage17.jpg" alt="#">
                    </div>
                    <div class="textwrapper liststyle1">
                        <p>The original volume plethysmography generated by the cuffs is not easy to read since the dicrotic notch is not always visible.</p>
                        <p>Therefore, to improve the ready, we use the spectral analysis of the volume plethysmography after the end of the inflation.</p>
                        <p>This method provides a maximum peak corresponding to the blood flow measured in mV/min.The normal ranges are represented by the different colors of the lines.</p>
                    </div>
                </div>
               
            </div>

        </div>
    </div>
</mat-card>

<mat-card class="ptmfsmblock5">
    <img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/ptfsmimage19.png" class="abimage">
<div class="newcontainer">
    <div class="listtitle gradienttext">
        <h2>LIFESTYLE MARKERS</h2>
    </div>
    <div class="ptmfsmblock5subwrapper">    
    <div class="textwrapper">
        <div class="textitletwrapper">
            <h2>EXERCISE CAPACITY MARKERS</h2>
        </div>
        <div class="listtextwrapper1">
            <div class="list">
                <h2>rMSSD STANDS FOR ROOT MEAN SQUARE OF THE SUCCESSIVE DIFFERENCE</h2>
                <p>It is a measure of the parasympathetic system and it is correlated to exercise recovery.</p>
            </div>
            <div class="list">
                <h2>LF/HF STANDS FOR LOW FREQUENCY / HIGH-FREQUENCY RATIO</h2>
                <p>LF/HF is calculated by the spectral analysis of the HRV at rest. It is a measure of 
                    adrenergic sympathetic system predominance and correlated to mental stress.</p>
            </div>
        </div>       

        <div class="textitletwrapper">
            <h2>VITAL SIGNS</h2>
        </div>
        <div  class="listtextwrapper2">
            <div class="list">
                <h2>SPO2%</h2>
                <p>It is a marker of blood oxygen saturation. A SpO2% result that is too low (<= 90%) can limit the possibility of moderate and vigorous exercise (> 3 METs).</p>
            </div>
            <div class="list">
                <h2>CASP STANDS FOR CENTRAL AORTIC SYSTOLIC PRESSURE</h2>
                <p>It is the blood pressure at the aorta at the Heart ejection phase. High CASP can 
                    limit the possibility of moderate and vigorous exercise (> 3 METs)</p>
            </div>
            <div class="list">
                <h2>HEART RATE</h2>
                <p>Marker of Bradycardia or tachycardia. Tachycardia at rest can limit the 
                    possibility of moderate and vigorous exercise (> 3 METs).</p>
            </div>
        </div>
       
        <div class="textitletwrapper">
            <h2>FAT MASS MARKER</h2>
        </div>
        <p>It is simply the percentage of fat your body contains.</p>
    </div>
</div>
</div>
</mat-card>



<!-- <div class="imgwrapper"><img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/psmdemoimage2.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/psmdemoimage3.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/psmdemoimage4.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/psmdemoimage5.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/psmdemoimage6.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/psmdemoimage7.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/psmdemoimage8.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/psmdemoimage9.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/psmdemoimage10.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="https://all-frontend-assets.s3.amazonaws.com/AWS-Physicians/images/psmdemoimage11.jpg"></div> -->

<app-footer></app-footer>