
<app-header></app-header>

<mat-card class="bannerblock">
    
</mat-card>

<div class="imgwrapper"><img src="../../../assets/images/pvp_newimage2.jpg"></div>
<div class="imgwrapper"><img src="../../../assets/images/pvp_newimage3.jpg"></div>
<div class="imgwrapper"><img src="../../../assets/images/pvp_newimage4.jpg"></div>
<div class="imgwrapper"><img src="../../../assets/images/pvp_newimage5.jpg"></div>
<div class="imgwrapper"><img src="../../../assets/images/pvp_newimage6.jpg"></div>

<app-footer></app-footer>

