<app-header></app-header>
<div class="bannerblock">
    <img src="../../../assets/images/drnewimage1.png" class="abimage">
    <span class="newcontainer">
        <span class="bannertextwrapper">
            <span class="bannertext">
                <div class="bannertitlewrapper">
                    <h5>
                        <strong>RECOMMEND FROM</strong>
                        <strong>DR. SAMAH MOHIUDDIN</strong>
                    </h5>
                </div>

                <p><strong>Dr. Mohiuddin</strong> is a board-certified neurologist and specialist in Neuromuscular
                    Medicine from Syracuse, New York, certified by The American Board of Psychiatry & Neurology (ABPN).
                    He currently holds a medical license through the state of New York and Florida, specializing in
                    Neurology, Physical Medicine, and Rehabilitation.</p>
                <h2>
                    Below you will find what <span>Dr. Mohiuddin</span> and some of the other doctors from his group has
                    to say about the efficiency and usefulness of our ANS Testing Medical Device platform.
                </h2>
            </span>
        </span>

    </span>

</div>

<span class="mainbg">
    <mat-card class="drblock2">
        <!-- <div class="imgwrapper"><img src="../../../assets/images/dr_newimage2.jpg"></div> -->
        <span class="newcontainer">
            <div class="titlewrapper">
                <h2>
                    <span>Interview with</span>
                    <span>Dr. Samah Mohiuddin.</span>
                </h2>
            </div>
            <img src="../../../assets/images/drnewimage2.png" class="abimage">
            <img src="../../../assets/images/drnewimage02.png" class="abimage2">

            <div class="videoblock">
                <span (click)="fetchvideo()" *ngIf="hideSpan==true">
                    <img src="../../../assets/images/dr_image2.png">
                    <img class="playicon" src="../../../assets/images/youtubevideoicon.png">
                </span>
                <ng-container *ngIf="youtubeFlage==true">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hqu-UQTAasw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </ng-container>
            </div>
        </span>
    </mat-card>
    <mat-card class="drblock3">
        <img src="../../../assets/images/drnewimage3.png" class="abimage">
        <div class="newcontainer">
            <div class="textwrapper">
                <h2>
                    <span>MOHAMMAD RANA IS DR. MOHIUDDIN’S FINANCIAL </span>
                    <span>AND FUNDING PARTER TO HIS PRACTICES.</span>
                </h2>
            </div>
            <div class="textwrapper textwrapperbg">
                <h3>FROM MOHAMMAD RANA</h3>
                <p><a>Dr. Mohiuddin</a> and I have been in touch with Dr. Mahmood about expanding our business in South
                    Florida. Our goal is to improve patient care through preventative medical tools and provide early
                    detection of diseases. We have already successfully implemented our services in two of our neurology
                    practices in both Syracuse and Watertown New York.</p>
                <p>Dr. Mahmood has a clear understanding of our testing model and how it can help detect early
                    neurological, peripheral vascular, cardiovascular disease. This will improve patient care for his
                    practice and other referring physicians.</p>
                <p>Patients with symptoms and or diagnosis of diabetes, dizziness, neuropathy, brachial plexus
                    disorders, limb pain, transient ischemic attacks, Parkinson’s disease, syncope, tachycardia,
                    Reynaud’s syndrome, peripheral vascular disease, atherosclerotic disease of the lower limbs can be
                    best helped by our services.</p>
                <p>Detailed reporting and recommendations from our testing will be sent directly to the ordering
                    physicians. Some patients with abnormal test results may need further testing or work up. Commonly
                    this has led to patients being referred to a vascular surgeon, cardiologist, and or a neurologist
                    sooner to address the diagnosis. Referring physicians can set up further testing including
                    ultrasound, <a>CT and MR Angiography, cardiac monitoring, lab work all recognized and reported in
                        the PECE software that accompanies the medical device program.</a></p>
                <p>In both of our Syracuse and Watertown practices we have been able to effect change in patient care
                    and clinical outcomes. Patients have been very appreciative of early detection of diabetes, along
                    with higher cardio-metabolic risks for heart disease and cerebrovascular disease. Having objective
                    data to share with each patient has helped motivate patients to act and improve the quality of their
                    own health.</p>
                <h5>Sincerely, <span>Mohammad Rana</span></h5>
            </div>
        </div>
    </mat-card>
</span>
<!-- <div class="imgwrapper"><img src="../../../assets/images/dr_newimage3.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/dr_newimage4.jpg"></div> -->


<mat-card class="drblock4">
    <div class="titlewrapper titlewrapperbg">
        <h2>
            <span>LETTER OF RECOMMENDATION FROM </span>
            <span>DR. SAMAH MOHIUDDIN</span>
        </h2>
    </div>
    <img src="../../../assets/images/drnewimage4.png" class="abimage">
    <div class="newcontainer">
        <div class="textwrapper textwrapperbg">
            <h3>THE MEDICAL DEVICE PROGRAM AND PECE PLATFORM OFFERED BY HPS IS AN INCREDIBLE INVESTMENT FOR A DIAGNOSTIC CENTER.</h3>
            <p>Cardio-autonomic neuropathy, and small fiber neuropathy diagnosis cannot be made with routine laboratory tests, and clinical examination alone. Both conditions can lead to a change in management depending on what symptoms the patient has and what diagnosis is concluded. For example, patients with cardiovagal impairment can be advised to use compression stockings, or for more severe cases fludrocortione, and or midodrine can be used. A skin biopsy can be avoided for patients with a small fiber neuropathy diagnosis with this test.</p>
            <p>In reference to <a>" Autonomic system testing is considered investigational in all other situations when criteria are not met including but not limited to the evaluation of the following conditions:</a></p>
            <p><a>Chronic fatigue syndrome, fibromyalgia, sleep apnea, hypertension, etc..."</a></p>
            <p>I order this test for symptomatic patients and there are over fifty symptoms that indicate further evaluation of medical necessity. This has led to over 40% of my patients taking this ANS test. I document the symptoms in my office note before I order the test. For all Medicare insurances, I would recommend ordering this test once a year when indicated based on signs and symptoms.</p>
            <p>I do believe this combination test provides patients useful information and guidance to the overall improvement of their health, in addition, to provide your diagnostic center with additional revenue.</p>
            <h5>Regards, <span>Dr. Samah Mohiuddin</span></h5>
        </div>
    </div>
</mat-card>


<app-footer></app-footer>