
    <app-header></app-header>

<mat-card class="bannerblock">
    <!-- <span class="newcontainer">


        <span class="bannertextwrapper">
            <h1>
                        RECOMMEND FROM<br>
                        <span>DR. SAMAH</span> MOHIUDDIN
            </h1>
            <p>
                Dr Mohiuddin is a board-certified neurologist from Syracuse, New York who currently holds a medical
                license through the state of New York and Florida. Below you will find a discussion with Dr. Mohiuddin
                as well as letters of recommendation from his group.
            </p>
            <h2></h2>
        </span>
    </span> -->
</mat-card>


<span class="mainbg">
    <mat-card class="drblock2">
        <span class="newcontainer">
            <span class="yellowgradient">
                DISCUSSION ON THE ANS TEST WITH DR. SAMAH MOHIUDDIN
            </span>
            <div class="videoblock">
                <span (click)="fetchvideo()" *ngIf="hideSpan==true">
                    <img src="../../../assets/images/dr_image2.png">
                    <img class="playicon" src="../../../assets/images/youtubevideoicon.png">
                </span>
                <ng-container *ngIf="youtubeFlage==true">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hqu-UQTAasw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                </ng-container>
            </div>
        </span>
    </mat-card>
    </span>
<div class="imgwrapper"><img src="../../../assets/images/dr_newimage3.jpg"></div>
<div class="imgwrapper"><img src="../../../assets/images/dr_newimage4.jpg"></div>




<app-footer></app-footer>