.bannerblock{background-image:url(../../../assets/images/dr_banner1.jpg)!important;width:100%;box-shadow:none!important;padding:0!important;border-radius:0!important;position:relative;background-position:left top!important;background-repeat:no-repeat!important;background-size:cover}
.bannertextwrapper p{
    padding-right: 0;
    padding: 20px;
    width: 730px;
}
.bannertextwrapper::before{
    right: 245px;
    top: 30px;
}
.bannertextwrapper h2{
    padding: 0px;
    width: 767px;
}
.bannertextwrapper{width:794px;display:block}
.drblock1 {padding: 30px 0 !important;}
.drblock1 mat-list mat-list-item{height: auto;}
.listwrapper{
    background: #e2f0f1;
    padding: 50px;
    margin: 0;
}
.drblock1 mat-list{display: flex; position: relative;background: #099c01;padding: 15px;}

.col-2{width: 20% !important;}
.col-8{width: 80% !important;}

.drblock1 mat-list .titlewrapper h2{text-align: left;}

.drblock1 mat-list:after{
    content: '';
    height: 65%;
    width: 1px;
    position: absolute;
    left: 17%;
    top: 50%;
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,1), rgba(255,255,255,.3));
    transform: translateY(-50%);
}

.drblock1 mat-list .titlewrapper p{
    text-align: left;
    color: #fff;
    font-size: 22px;
}
.drblock1 mat-list .titlewrapper p strong{color: #fff;font-family: 'Montserrat-Bold';}
.imgwrapper {
    display: block;
    border: 10px solid rgba(255,255,255,.3);
}
.imgwrapper img{max-width: 100%; display: block;}
.drblock2 {
    padding: 30px 0 !important;
    background: none;
}
.dr_block2{
    background: none;
}
.videoblock{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    padding: 0;
    background-color: #e1e9eb;
    border-radius: 8px;
    height: 808px;
    border: 20px solid #e1e9eb;
}
.videoblock img{
    width: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    object-fit: cover;
}

.videoblock .playicon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 202px;
    min-height: inherit;
}
mat-card{
    padding: 0 !important;
    box-shadow: none !important;
}
.drblock3{
    background-image: url(../../../assets/images/dr_banner2.png) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: left top !important;
    position: relative;
    padding: 30px 0 !important;
    overflow: hidden;
}
.drblock3 .titlewrapper h2{text-align: left; color: #fff;}
.drblock3 .titlewrapper h3{
    text-align: left;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,1)),to(rgba(255,255,255,.3)) );
    background: linear-gradient(to right, rgba(255,255,255,1),rgba(255,255,255,.3) );
    padding: 20px;
    padding-right: 139px;
    width: 79%;
}
.drblock3 img{
    position: absolute;
    right: 130px;
    bottom: -41px;
}
.drblock3 .titlewrapper p{
    text-align: left; color: #151515;
    background-image: url(../../../assets/images/dic_rightarrow.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 15px;
}
.drblock4{
    padding: 40px 0 !important;
    background: rgba(239,239,239,1);
    background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff', GradientType=0 );
}

.drblock4 .titlewrapper p{color: #c38700;}
.drblock4 .titlewrapper h2{
    width: 1160px;
    margin: 0 auto;
}
.textcontainer{
    background-image: url(../../../assets/images/dr_banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 2px 9px rgba(0,0,0,0.3);
}
.textcontainer .image1{
    float: left;
    margin-right: -220px;
    margin-bottom: -62px;
    margin-top: -20px;
    margin-left: -20px;
}
.textcontainer .image2{
    float: right;
    margin-left: -412px;
    position: relative;
    top: 64px;
    margin-right: -20px;
}
.image01, .image02{display: none;}

.drblock5{
    background-image: url(../../../assets/images/dr_banner4.png) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: right bottom !important;
    position: relative;
    padding: 30px 0 !important;

}
.drblock5 .titlewrapper h2{text-align: left; color: #fff;}
.drblock5 .titlewrapper p{text-align: left; color: #000000;}
.drblock5 .ab_image{
position: absolute;
    right: 0;
    bottom: 0;
}
.drblock5 .ab_image img{max-width: 100%; display: block;}
.drblock5 .textwrapper{
    display: block;
    padding-right: 518px;
}
.drblock5 .textwrapper p strong{font-size: 18px; text-transform: inherit;}

.dr_block2subwrapper1{
    padding-top: 50px;
    background-position: right top;
    background-repeat: no-repeat;
}
.dr_block2subwrapper2{
    background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
}
.dr_block2subwrapper1 .titlewrapper h2{
    width: auto;
    margin: 0;
    margin-bottom: 30px;
    text-align: left;
}
.dr_block2subwrapper .textwrapper{
    display: block;
    background: #e1e9eb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}
.dr_block2subwrapper .textwrapper h3{
    font-size: 24px;
    color: #3a3a3a;
    font-family: 'Montserrat-Regular';
    padding-bottom: 20px;
    font-weight: normal;
}
.dr_block2subwrapper .textwrapper h4{
    text-align: right;
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    font-weight: normal;

}
.colorred{color:#1e96f3;}
.dr_block2subwrapper .textwrapper h4 span{display: block;}
.dr_block2subwrapper2 .textwrapper{
    margin-right: 0;
    float: right;
    display: inline-block;
}

.dr_block2subwrapper2 .titlewrapper h2{
    margin-right: 0;
    text-align: left;
    width: 839px;
}

.dr_block2subwrapper {
    padding-bottom: 10px;
}
.userimage{
    display: block;
    float: right;
    max-width: 100%;
}
.mainbg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/dr_mainbg.jpg);
    display: block;
    overflow: hidden;
}

.drblock2 .yellowgradient{text-align: center;}
.dr_block2subwrapper1 .abimage{
    position: absolute;
    right: 0;
    top: 0;
    width: 21%;
}

.textwrapper p {font-size: 21px;}
.colcontainer {display: flex; position: relative; z-index: 1;}
.dr_block2subwrapper2 .abimage{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 46%;
}
.titlewrapper h2 {font-size: 48px; line-height: 50px;}


@media screen and (max-width:1840px) {
    .drblock3 img {
       right: 40px;
   }
   .drblock3 .titlewrapper{
    padding-left: 120px;
    display: block;
    padding-top: 0;
   }
 }
 
 @media screen and (max-width:1760px) {
    .drblock3 img {
       right: -49px;
   }
  
   .drblock3 .titlewrapper h3{
    padding-right: 439px;
    width: 60%;
   }
 }
 @media screen and (max-width:1740px) {
    .dr_block2subwrapper1 .abimage {
        width: 23%;
    }
    .dr_block2subwrapper2 .abimage {
        left: -84px;
        width: 51%;
    }
    .drblock5 .textwrapper {
        padding-right: 628px;
    }
 }

 @media screen and (max-width:1666px) {
    .dr_block2subwrapper1 .abimage {
        width: 26%;
        right: -60px;
    }
    .dr_block2subwrapper2 .abimage {
        left: -317px;
        width: 64%;
    }
 }
 @media screen and (max-width:1640px) {
    .dr_block2subwrapper2 {background-position: left -110px top;}
 }
 @media screen and (max-width:1560px) {
    .dr_block2subwrapper1 .abimage {
        width: 31%;
    }
    .dr_block2subwrapper2 .abimage {
        width: 68%;
    }
    .videoblock{
        height: 758px;
    }
    .textcontainer .image2{margin-left: -252px;}
    .drblock3 .titlewrapper h3{padding-right: 276px;}
    .drblock3 .titlewrapper{    padding-left: 180px;}
 }
  @media screen and (max-width:1540px) {
    .titlewrapper h2 {
        font-size: 36px;
        line-height: 40px;
    }
  }
  @media screen and (max-width:1480px) {
    .videoblock{
        height: 680px;
    }
    .dr_block2subwrapper2 {background-position: left -240px top;}
    .dr_block2subwrapper1 {
        background-position: right -120px top;
    }
    .drblock1 mat-list:after{
        left: 19%;
    }
    .bannerblock {
        background-position: right -366px top!important;
    }
    .bannertextwrapper {
        width: 904px;
    }
 }
 @media screen and (max-width:1460px) {
    .dr_block2subwrapper1 .abimage {
        right: -50px;
        width: 27%;
    }
    .textcontainer .image2{top: 107px;}
    /* .videoblock{
        max-width: 1015px;
        max-height: 563px;
    } */
 }
 
 @media screen and (max-width:1440px) {
    .dr_block2subwrapper1 .abimage {
        right: -64px;
        width: 31%;
    }
    .textwrapper p {
        font-size: 18px;
    }
 }
 @media screen and (max-width:1420px) {
    .drblock5{    overflow: hidden;}
    .drblock5 .ab_image{
        right: -420px;
        width: 1040px
    }
 }
 @media screen and (max-width:1380px) {
    .textcontainer .image2 {
        top: 0;
        height: 400px;
        width: 698px;
    }
    
 }
 @media screen and (max-width:1366px) {
    .drblock3 img{
        bottom: -71px;
    }
    .drblock3 .titlewrapper p{    width: 54%;}
 }
@media screen and (max-width:1338px) {
    .dr_block2subwrapper1 .abimage {
        right: -74px;
        width: 34%;
    }
    .dr_block2subwrapper2 .abimage {
        width: 72%;
        left: -344px;
    }
    .videoblock{
        height: 600px;
    }
    .drblock3 img {
        bottom: -1px;
    }
}
@media screen and (max-width:1280px) {
    .bannerblock {
        background-position: right -409px top!important;
    }

}
@media screen and (max-width:1260px) {
    .drblock4 .titlewrapper h2 {
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (max-width:1199px) {
    .bannertextwrapper p {
        padding: 0;
    }
    .videoblock {
        max-height: 448px;
    }
    .drblock5{padding-bottom: 10px !important;}
    .textcontainer .image1, .textcontainer .image2{display: none;}
    .image01, .image02{display: block; width: 100%;}
    .bannertextwrapper h1 span{
        padding: 0;
    }
    .bannerblock{
        background-position: right top!important;
        background-size: 154%;
        padding-top: 36%!important;
        background-color: #299fb7;
        height: auto;
        min-height: inherit;
        padding-bottom: 4%!important;
    }
    .dr_block2subwrapper1 .abimage {
        right: inherit;
        width: inherit;
        display: block;
        max-width: 100%;
        margin: 0 auto;
        bottom: inherit;
        top: inherit;
        position: inherit;
    }
    .dr_block2subwrapper1 .titlewrapper h2 {
        width: 98%;
        padding: 1%;
        text-align: center;
    }
    .dr_block2subwrapper .textwrapper {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .dr_block2subwrapper2 .titlewrapper h2{
        width: 98%;
        padding: 1%;
        text-align: center;
    }
    .dr_block2subwrapper2 .abimage {
        width: 100%;
        left: inherit;
        bottom: inherit;
        position: inherit;
        display: block;
    }
    .dr_block2subwrapper1 {
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
    }
    .userimage {
        float: none;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .bannertextwrapper h1{padding-bottom: 20px;}
    .bannertextwrapper{width: 100%;    text-align: center;}
    .drblock1 mat-list:after{display: none;}
    .drblock1 mat-list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .col-2, .col-8{width: 100% !important;}
    .imgwrapper{margin: 0 auto;}
    .drblock1 mat-list .titlewrapper h2{text-align: center;}
    .drblock1 mat-list .titlewrapper p{text-align: center;}
    .drblock3 img {
        bottom: inherit;
        right: inherit;
        position: inherit;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    .drblock3 .titlewrapper {
        padding-left: 0;
        text-align: center;
    }
    .drblock3 .titlewrapper h2 {
        text-align: center;
        padding-top: 20px;
    }
    .drblock3 .titlewrapper p {
        width: 100%;
        text-align: center;
        background: none;
        padding-left: 0;
    }
    .drblock3 .titlewrapper h3 {
        padding-right: 0;
        width: inherit;
        text-align: center;
        background: #fff;
    }
    .drblock3{background: #20c2e7 !important;}
    .textcontainer{text-align: center;padding: 0;}
    .textcontainer .textwrapper p{    padding: 10px 20px;}
    .drblock5 .ab_image {
        position: inherit;
        right: inherit;
        bottom: inherit;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 100%;
    }
    .drblock5 .titlewrapper h2 {
        text-align: center;
    }
    .drblock5 .titlewrapper p {
        text-align: center;
    }
    .drblock5 .textwrapper {
        padding-right: 0;
        text-align: center;
    }
    .dr_block2subwrapper .textwrapper h4{    text-align: center;}
 }

 @media screen and (max-width:991px) {
   
    .bannertextwrapper p {
        padding-right: 0;
        width: 88%;
        padding: 0;
    }
    .videoblock {
        max-height: 348px;
    }
    .listwrapper {
        padding: 10px;
    }
 }
 @media screen and (max-width:768px) {
    .videoblock {
        max-height: 268px;
    }
 }
 @media screen and (max-width:580px) {
    .videoblock {
        max-height: 240px;border-width: 5px;
    }
    .videoblock .playicon{    width: 102px;}
 }
 @media screen and (max-width:480px) {
    .videoblock {
        max-height: 208px;
    }

    
 }
 
 
 