<app-header></app-header>

<mat-card class="bannerblock">
    <span class="newcontainer">
        <span class="bannertextwrapper">
            <span class="bannertext">
                <h1>
                    <img src="../../../assets/images/bannertext.png">
                </h1>
                <h3>
                    THE ULTIMATE ANS TESTING AND <br> REPORTING PLATFORM FOR<br>
                    YOUR MEDICAL PRACTICE
                </h3>
                <p>
                    This will be the largest Testing referral for your Medical Practice. On
                    average, 7-8 out of every 10 patients in your current practice will qualify for the <span>RM-3A
                        Scan</span>. You
                    can most definitely look forward to a massive increase in your revenues through the RM-3A Test.
                </p>
            </span>
        </span>

    </span>

</mat-card>
<mat-card class="block homeblock2">
    <img src="../../../assets/images/homeimage1.png" class="abimage">
    <span class="newcontainer">
        <mat-card-content class="colcontainer">
            <span class="col-4"></span>
            <span class="col-6">
                <span class="yellowgradient leftshadow">
                    OBTAIN BETTER DATA ON YOUR PATIENT
                    POPULATION RIGHT AWAY!!
                </span>
                <mat-card-content class="textwrapper">
                    <p>
                        The RM-3A Scan will give you ACTIONABLE DATA to take better care of your patients. This is Good
                        Medicine and will aid in the early detection of over 20 disease complications, including
                        diabetes, heart attack, stroke, heart rate variability issues, nerve damage, and several others.
                        The data provided will greatly improve your patient outcomes and the overall quality of patient
                        care you offer. This will fit right in with the test ordering and referral protocols with most
                        Diagnostic Imaging Centers.
                    </p>

                    <span class="greengradient">
                        The Advanced Wellness Solutions Smart Engagement
                        Form Technology will transform your practice!
                    </span>
                    <h3>
                        OUR PHYSICIANS REPORT ALSO DISPLAYS MARKERS VALIDATING OVER 18
                        ADDITIONAL EXAMS INCLUDING <strong> MRI, ULTRASOUND, X RAYS, BONE SCANS, NERVE CONDUCTION
                            STUDIES AND MORE.</strong>
                    </h3>
                </mat-card-content>
            </span>
        </mat-card-content>
    </span>
</mat-card>

<mat-card class="block homeblock3">
    <span class="newcontainer">
        <mat-card-content class="colcontainer">
            <span class="col-6">
                <mat-card-content class="titlewrapper">
                    <span class="bluegradient rightshadow">
                        WATCH OUR PECE PLATFORM AND MEDICAL DEVICE SYSTEM VIDEO
                    </span>
                    <p>This is the ultimate testing and referral platform for the success of your Medical Practice.</p>
                </mat-card-content>
                <mat-card-action>
                    <button class="greenbutton">Media Deck</button>
                    <button class="blackbutton">Reference Guide</button>
                    <button class="redbutton">Sample Report</button>
                </mat-card-action>
            </span>
            <span class="col-4">
                <mat-card-content class="videowrapper">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FwzuWiNv408" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </mat-card-content>
            </span>
        </mat-card-content>
    </span>
</mat-card>


<mat-card class="block homeblock4">
    <img src="../../../assets/images/homeimage2.png" class="abimage">
    <span class="newcontainer">
        <mat-card-content class="colcontainer">
            <span class="col-7">
                <mat-card-content class="titlewrapper">
                    <span class="yellowgradient">
                        PECE PLATFORM AND MEDICAL DEVICE SYSTEM
                    </span>
                    <p>We have combined a powerhouse of technology.</p>
                </mat-card-content>
                <mat-card-content class="textwrapper">
                    <p>Did you know that the RM-3A scan will give you extremely actionable data
                        on traditional risk factors? The benefits of early detection will result in
                        the “proactive” improvement of treatment and managing risk among common
                        killers such as <span> Heart Attack, Stroke, Diabetes with Complications, Nerve Damage,
                            etc.</span>
                    </p>

                    <h3>
                        YOUR MEDICAL PRACTICE WILL HAVE ACCESS TO ANALYTICAL DATA THAT WILL GREATLY INCREASE YOUR
                        ABILITY TO OFFER SUPERIOR CARE TO YOUR PATIENT POPULATION. THIS IS <span>“GOOD MEDICINE”</span>
                        AND OUR
                        THREE-IN-ONE PLATFORM IS MADE TO FIT RIGHT INTO MOST DIAGNOSTIC CENTER PROGRAMS!
                    </h3>
                </mat-card-content>

            </span>
            <span class="col-3">
            </span>
        </mat-card-content>
    </span>
</mat-card>



<mat-card class="block homeblock5">
    <img src="../../../assets/images/homeimage5.png" class="abimage">
    <span class="newcontainer">
        <mat-card-content class="colcontainer">
            <span class="col-4">
                <span class="imgwrapper">
                    <img src="../../../assets/images/homeimage3.png">
                </span>
            </span>
            <span class="col-6">
                <mat-card-content class="textwrapper">
                    <span class="bluegradient">RM-3A Medical Device</span>
                    <p>
                        SCIENTIFICALLY VALIDATED AND FDA CLEARED, The RM-3A scan is a highly comprehensive, and
                        non-invasive, medical device that measures 8 health risk areas within the body. This yearly test
                        effectively measures the state of a patient’s health by screening for hidden causes of disease
                        and other metabolic disorders.
                    </p>
                </mat-card-content>
            </span>
        </mat-card-content>

        <mat-card-content class="colcontainer">

            <span class="col-6">
                <mat-card-content class="textwrapper">
                    <span class="yellowgradient">RM-3A MAX MEDICAL DEVICE</span>
                    <p>
                        Focusing on early detection and follow-up of complications (autonomic nervous system & vascular
                        system) of chronic metabolic diseases such as Diabetes, the RM-3A MAX ANS
                        Medical Device is a user-friendly, non-invasive tool for Autonomic, Vascular and
                        Cardiometabolic Risk Assessments.
                    </p>
                </mat-card-content>
            </span>
            <span class="col-4">
                <span class="imgwrapper">
                    <img src="../../../assets/images/homeimage4.png">
                </span>
            </span>
        </mat-card-content>
    </span>
</mat-card>







<app-footer></app-footer>