@media  screen and (max-width: 1900px) {
    
}
@media screen and (max-width: 1820px) {
 /* .headerbottom .mat-list-base .mat-list-item .mat-list-item-content{padding: 0 6px !important;} */
 /* .newcontainer {width: 94%;} */
}
@media screen and (max-width: 1750px){
   
}

@media screen and (max-width: 1660px){
    .newcontainer {width: 96%;}
}
@media screen and (max-width: 1620px) {
    .titlewrapper h2, .titlewrapper h2 span {
        font-size: 46px;
        line-height: 44px;
    }

}

@media screen and (max-width: 1580px) {
  
}
@media screen and (max-width: 1560px) {
    .titlewrapper h2, .titlewrapper h2 span {
        font-size: 42px;
        line-height: 47px;
    }
    .bannertextwrapper h1 {
        font-size: 46px;
        line-height: 46px;
    }
    .listwarppercls {
        width: 380px;
    }
    .yellowgradient, .bluegradient{
        font-size: 36px;
        line-height: 38px;
    }
}
@media screen and (max-width: 1540px) {
   .yellowgradient, .bluegradient {
        font-size: 36px;
        line-height: 38px
    }
    .titlewrapper h2 {
        font-size: 36px;
        line-height: 38px
    }
}
@media screen and (max-width: 1440px) {
    
}
@media screen and (max-width: 1400px) {
    .listwarppercls {
        width: 320px;
    }
    .imgwrapperblock8 {
        width: 185px;
        height: 185px;
    }
 
}
@media screen and (max-width: 1380px){
   
}
@media screen and (max-width: 1366px){
    .titlewrapperbg {
        padding: 30px 210px;
    }
   
}
@media screen and (max-width: 1340px) {
   
}
@media screen and (max-width: 1280px){
   
}
@media screen and (max-width: 1240px){
    .listwarppercls {
        width: 280px;
    }
    .imgwrapperblock8 {
        width: 170px;
        height: 170px;
    }
   
}

@media screen and (max-width: 1220px){
  
}
@media screen and (max-width: 1199px){
    .li1 .imgwrapperblock8, .li2 .imgwrapperblock8, .li3 .imgwrapperblock8, .li4 .imgwrapperblock8{    right: -50px;}
        .li5 .imgwrapperblock8, .li6 .imgwrapperblock8, .li7 .imgwrapperblock8, .li8 .imgwrapperblock8{    left: -50px;}
    .listtext {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .listtitle{text-align: center;}
    .listtext p {
        padding-top: 34px;
        background-position: center top;
        padding-left: 0;
        text-align: center;
    }
    .bannertext h2{
        background-color: #1bbbea;
        border-radius: 5px;
        border: 1px solid #31c8f9;
        padding: 20px;
    }
    .bannerlistwrapper {
        column-count: 1;
        column-gap: inherit;
        padding-bottom: 20px;
    }
    .bannerlistwrapper p::after {
        left: 50%;
        top: 0;
        transform: translatex(-50%);
    }
    .bannerlistwrapper p {
        padding-left: 0;
        padding-top: 30px;
    }
    .bannertitlewrapper{width: auto;}
    .titlewrapperbg {
        padding: 30px;
    }
    .yellowgradient, .bluegradient {
        text-align: center;
    }
    .textwrapper p{text-align: center;}
    .textwrapper h3{text-align: center;}
    .titlewrapper p{text-align: center;}
    .rightshadow, .leftshadow{display: none;}
    .greengradient{text-align: center;}
    .col-3{width: 100%;}
    .col-7{width: 100%;}
    .col-4{width: 100%;}
    .col-6{width: 100%;}
    .col-5{width: 100%;}
    .colcontainer{flex-wrap: wrap; justify-content: center;}
    .listtext p{display: block; width: auto;}
}


@media screen and (max-width: 991px) {
    .listwarppercls{width:auto;flex-wrap:wrap;flex-flow:column-reverse;justify-content:center;border-radius:0!important;margin:0;box-shadow:0 0 10px rgba(0,0,0,0.1);height:85%;padding:3%}
    .nmsfunneldoctor_block8 ol li:after{display:none}
    .nmsfunneldoctor_block8 ol li{display:block;width:47%;margin:6px}
    .nmsfunneldoctor_block8 ol{-webkit-column-count:1;-moz-column-count:1;column-count:1;-webkit-column-gap:inherit;-moz-column-gap:inherit;column-gap:inherit;list-style:decimal!important;display:flex;justify-content:center;flex-wrap:wrap;background:none;align-items:stretch}
    .listwarppercls h4{font-size:18px;line-height:24px;width:100%;padding-left:0;text-align:center}
    .nmsfunneldoctor_block8 ol li:first-child:last-child:before,.nmsfunneldoctor_block8 ol li:nth-child(n+2):nth-last-child(-n+2):before,.nmsfunneldoctor_block8 ol li:nth-child(n+3):nth-last-child(-n+3):before,.nmsfunneldoctor_block8 ol li:nth-child(n+4):nth-last-child(-n+4):before,.nmsfunneldoctor_block8 ol li:nth-child(n+5):nth-last-child(-n+5):before,.nmsfunneldoctor_block8 ol li:nth-child(n+6):nth-last-child(-n+6):before,.nmsfunneldoctor_block8 ol li:nth-child(n+7):nth-last-child(-n+7):before,.nmsfunneldoctor_block8 ol li:nth-child(n+8):nth-last-child(-n+8):before,.nmsfunneldoctor_block8 ol li:nth-child(n+9):nth-last-child(-n+9):before,.nmsfunneldoctor_block8 ol li:nth-child(n+10):nth-last-child(-n+10):before{font-size:40px;position:absolute;right:inherit!important;top:0;z-index:9;left:0}
    .pagehomewraooer{width:100%;    padding: 0;}
    .bannertextwrapper h1 {
        font-size: 48px;
        line-height: 50px;
    }
}
@media screen and (max-width: 860px){
}


@media screen and (max-width: 776px){
    .bannertext h3, .bannertext h3 span{
        font-size: 60px;
        line-height: 50px;
    }
    
}
@media screen and (max-width: 700px){
   

}
@media screen and (max-width: 620px){
   
}
@media screen and (max-width: 560px){
    .nmsfunneldoctor_block8 ol li{width:100%;margin:11px 0}
}
@media screen and (max-width: 520px){
    
}
@media screen and (max-width: 480px){
    .bannertext h3, .bannertext h3 span {
        font-size: 42px;
        line-height: 40px;
    }
    .bannertext h4 {
        width: auto;
        font-size: 20px;
    }
    .titlewrapper h2, .titlewrapper h2 span {
        font-size: 32px;
        line-height: 34px;
    }
    .titlewrapperbg {
        padding: 20px;
        background: #f2c812;
    }
}
@media screen and (max-width: 420px) {
   
}
@media screen and (max-width: 360px){
    
}