/* @font-face {
    font-family: 'Lato';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Light.woff') format('woff');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    }
    @font-face {
    font-family: 'Lato-Hairline';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-HairlineItalic.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-HairlineItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    }
    
    @font-face {
    font-family: 'Lato-Light';
    src:  url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-LightItalic.woff2') format('woff2');
    src:  url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    }
    
    @font-face {
    font-family: 'Lato-Heavy';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Heavy.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato-Hairline';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Hairline.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Hairline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato-Black';
     src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Black.woff2') format('woff2');
     src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato-MediumItalic';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-MediumItalic.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    }
    
    @font-face {
    font-family: 'Lato-BoldItalic';
    src:  url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-BoldItalic.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    }
    
    @font-face {
    font-family: 'Lato-Regular';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Regular.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato-BlackItalic';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-BlackItalic.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    }
    
    @font-face {
    font-family: 'Lato-SemiboldItalic';
    src:  url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-SemiboldItalic.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    }
    
    @font-face {
    font-family: 'Lato-Semibold';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Semibold.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato-Italic';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Italic.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    }
    
    @font-face {
    font-family: 'Lato-Medium';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Medium.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato-Bold';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Bold.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Lato-ThinItalic';
       src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-ThinItalic.woff2') format('woff2');
       src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-ThinItalic.woff') format('woff');
    
    font-weight: 100;
    font-style: italic;
    }
    
    @font-face {
    font-family: 'Lato-HeavyItalic';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-HeavyItalic.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    }
    
    @font-face {
    font-family: 'Lato-Thin';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Thin.woff2') format('woff2');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Lato-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    } */
    
    @font-face {
    font-family: 'Helvetica-Bold';
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica-Bold.eot');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica-Bold.woff2') format('woff2'),
    url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica-Bold.woff') format('woff'),
    url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica-Bold.ttf') format('truetype'),
    url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/fonts/Helvetica.eot');
    src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica.woff2') format('woff2'),
    url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica.woff') format('woff'),
    url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica.ttf') format('truetype'),
    url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
       font-family: 'Montserrat-Regular';
       src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Regular.eot');
       src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Regular.woff') format('woff'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Regular.ttf') format('truetype'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
       font-weight: normal;
       font-style: normal;
    }
    @font-face {
       font-family: 'Montserrat-Bold';
       src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Bold.eot');
       src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Bold.woff') format('woff'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Bold.ttf') format('truetype'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
       font-weight: bold;
       font-style: normal;
    }
    
    @font-face {
       font-family: 'Raleway-Bold';
       src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Raleway-Bold.eot');
       src: url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Raleway-Bold.woff2') format('woff2'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Raleway-Bold.woff') format('woff'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Raleway-Bold.ttf') format('truetype'),
           url('https://s3.amazonaws.com/peceportal.com/front-end-assets/assets/fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
       font-weight: bold;
       font-style: normal;
    }
    
    @font-face {
       font-family: 'RalewayMedium';
       src: url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Raleway-Medium.eot');
       src: url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
           url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Raleway-Medium.woff2') format('woff2'),
           url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Raleway-Medium.woff') format('woff'),
           url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Raleway-Medium.ttf') format('truetype'),
           url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
       font-weight: 500;
       font-style: normal;
    }




    @font-face {
       font-family: 'BarlowExtraBold';
       src: url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Barlow-ExtraBold.eot');
       src: url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Barlow-ExtraBold.eot?#iefix') format('embedded-opentype'),
           url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Barlow-ExtraBold.woff2') format('woff2'),
           url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Barlow-ExtraBold.woff') format('woff'),
           url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Barlow-ExtraBold.ttf') format('truetype'),
           url('https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/fonts/Barlow-ExtraBold.svg#Barlow-ExtraBold') format('svg');
       font-weight: 800;
       font-style: normal;
    }




    @font-face {
        font-family: 'AdobeCaslonPro-Bold';
        src: url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Bold.eot');
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Bold.eot?#iefix') format('embedded-opentype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Bold.woff2') format('woff2'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Bold.woff') format('woff'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Bold.ttf') format('truetype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Bold.svg#ACaslonPro-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'AdobeCaslonPro-BoldItalic';
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-BoldItalic.eot');
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-BoldItalic.woff2') format('woff2'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-BoldItalic.woff') format('woff'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-BoldItalic.ttf') format('truetype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-BoldItalic.svg#ACaslonPro-BoldItalic') format('svg');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'AdobeCaslonPro-Italic';
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Italic.eot');
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Italic.eot?#iefix') format('embedded-opentype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Italic.woff2') format('woff2'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Italic.woff') format('woff'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Italic.ttf') format('truetype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'AdobeCaslonPro-Regular';
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Regular.eot');
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Regular.woff2') format('woff2'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Regular.woff') format('woff'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Regular.ttf') format('truetype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'AdobeCaslonPro-Semibold';
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Semibold.eot');
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Semibold.eot?#iefix') format('embedded-opentype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Semibold.woff2') format('woff2'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Semibold.woff') format('woff'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Semibold.ttf') format('truetype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-Semibold.svg#ACaslonPro-Semibold') format('svg');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'AdobeCaslonPro-SemiboldItalic';
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-SemiboldItalic.eot');
        src:url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-SemiboldItalic.woff2') format('woff2'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-SemiboldItalic.woff') format('woff'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-SemiboldItalic.ttf') format('truetype'),
           url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/ACaslonPro-SemiboldItalic.svg#ACaslonPro-SemiboldItalic') format('svg');
        font-weight: 600;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat-SemiBold';
        src: url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/Montserrat-SemiBold.eot');
        src: url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
            url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
            url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/Montserrat-SemiBold.woff') format('woff'),
            url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/Montserrat-SemiBold.ttf') format('truetype'),
            url('https://all-frontend-assets.s3.amazonaws.com/summum.us/assets/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
        font-weight: 600;
        font-style: normal;
    }
    
    

    h1, h2, h3, h4, h5, p{margin: 0; padding: 0;}

    body{ padding:0; margin: 0;}
    
    
    .bannerblock{min-height:386px;width:100%;box-shadow:none!important;padding:0!important;border-radius:0!important;position:relative;background-position:right top!important;background-repeat:no-repeat!important;display:flex!important;align-items:center}
    .newcontainer{width:1730px;margin:0 auto;display:block}
    .pagehomewraooer{
       display:block;padding:14px 0;box-shadow:0 5px 10px rgba(0,0,0,0.2);position:relative;z-index:9;
       background-image: url(../../assets/images/menubarbackground.png);
       background-size: cover;
       background-position: left top;
    }
    .bannertextwrapper img{max-width:100%}
    .bannertextwrapper h3 {
       font-family: 'Raleway-Bold';
        color: #fff;
        padding: 20px 0;
        text-transform: uppercase;
        padding-left: 0;
        padding-top: 0;
        font-size: 48px;    
        line-height: 50px;
    }
     .colcontainer {display: flex; justify-content: space-between;}
     .col-3{width: 29%;}
     .col-7{width: 69%;}
     .col-4{width: 39%;}
     .col-6{width: 59%;}
     .col-5{width: 49.5%;}
    
    .mat-card{
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 0 !important;
    }
    
    .bannertextwrapper p {
        font-family: 'Montserrat-Regular';
        font-size: 22px;
        color: #082839;
        padding-left: 0;
        padding-bottom: 20px;
        position: relative;
    }
    .bannerlistwrapper p{
        font-family: 'Montserrat-SemiBold';
        font-size: 22px;
        color: #082839;
        padding-left: 40px;

    }
    .bannerlistwrapper p::after{
        content: '';
        height: 15px;
        width: 15px;
        background-color: #fff;
        border: 7px solid #0d710b;
        position: absolute;
        left: 0;
        top: -2px;
        border-radius: 50%;

    }
    .bannerlistwrapper {
        column-count: 2;
        column-gap: 40px;
        padding-bottom: 20px;
    }
    
    .ot_block1 mat-list mat-list-item .mat-list-item-content{padding: 0 !important;}
    
    button{cursor: pointer;}
    button:focus, input:focus, textarea:focus{outline:none;}
    .pece{position: relative;padding-right: 20px;     font-style: normal;}
    
    
    .vpheaderwrapper .mat-list-item .mat-list-item-content{padding: 0 !important;}
    
    .image_modal .mat-raised-button.mat-accent {
        background-color: #dda804;
        position: absolute;
        top: -15px;
        right: -15px;
        height: 40px;
        width: 40px;
        padding: 0 !important;
        border-radius: 50%;
        min-width: inherit;
     }
     .image_modal{
        position: relative !important;
         height: 500px !important;
         border: 5px solid #dda804;
         border-radius: 5px;
     }
     .image_modal img{width: 100%;}
    
    
     .titlewrapper h2, .titlewrapper h2 span, .titlewrapper h2 i {
        font-family: 'Montserrat-Bold';
        font-size: 50px;
        text-transform: uppercase;
        background: rgb(0,0,0);
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(50%, rgba(77,77,77,1)), to(rgba(77,77,77,1)));
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(77,77,77,1) 50%, rgba(77,77,77,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        margin: 0 auto;
        text-align: center;
        line-height: 50px;
        font-style: normal;
    }
    .titlewrapper h2 span{display: block;}

    .titlewrapper h3 {
        font-family: 'Montserrat-SemiBold';
        font-size: 30px;
        margin: 0 auto;
        text-align: center;
        line-height: 34px;
        color: #000000;
    }
    .titlewrapperbg{
        background-image: url(../../assets/images/titlebg2.jpg);
        padding: 30px 330px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        margin-bottom: 50px;

    }
    .titlewrapperbg::after{
        content: '';
        background-image: url(../../assets/images/titlearrow.png);
        height: 47px;
        width: 277px;
        position: absolute;
        left: 50%;
        bottom: -47px;
        background-repeat: no-repeat;
        transform: translateX(-50%);
    }
    .listtext p{
        font-family: 'Montserrat-SemiBold';
        font-size: 18px;
        color: #1b1d1e;
        background-image: url(../../assets/images/listicon.png);
        background-repeat: no-repeat;
        padding-left: 11%;
        padding-bottom: 16px;
        padding-top: 4px;
        display: inline-block;
        width: 89%;
    }
    .listtitle{
        background: rgb(28,187,234);
        background: linear-gradient(90deg, rgba(28,187,234,1) 0%, rgba(21,195,94,1) 100%);
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .listtext {
        column-count: 2;
        column-gap: 40px;
        column-rule: 1px solid #b9c7cc;
    }
    .sublistwrapper {
        background-color: #f3f6f8;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #fff;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        position: relative;
    }
    .listtitle h2{
        font-family: 'Montserrat-SemiBold';
        font-size: 36px;
        color: #ffffff;
        text-transform: uppercase;
    }
    .listtitle p{
        font-family: 'Montserrat-Regular';
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 10px;
    }
    .listsubtitle h3{
        font-family: 'Montserrat-SemiBold';
        font-size: 26px;
        color: #272727;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .sublistwrapper2 {
        background: rgb(228,236,239);
        background: linear-gradient(0deg, rgba(228,236,239,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
    .textwrapper p{
        font-family: 'Montserrat-Regular';
        font-size: 26px;
        color: #1b1d1e;
        margin: 10px 0;
    }
    .textwrapper h2, .textwrapper h2 span, .textwrapper h2 i  {
        font-family: 'Montserrat-Bold';
        font-size: 50px;
        text-transform: uppercase;
        background: rgb(23,59,78);
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(23,59,78,1)), color-stop(50%, rgba(23,59,78,1)), color-stop(50%, rgba(11,77,112,1)), to(rgba(11,77,112,1)));
        background: linear-gradient(0deg, rgba(23,59,78,1) 0%, rgba(23,59,78,1) 50%, rgba(11,77,112,1) 50%, rgba(11,77,112,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;       
        line-height: 48px;
        font-style: normal;
    }
    .textwrapper h2 span{ display: block;}
    .textwrapper p a{color: #1288f6;}
    .sublistwrapper2 .listtitle{border-radius: 0;}
    .titlewrapper p {
        font-family: 'Montserrat-SemiBold';
        font-size: 24px;
        line-height: 24px;
        margin: 10px 0;
        text-align: center;
    }

    .listtext2 {
        column-count: 3;
        column-gap: 40px;
        column-rule: 1px solid #b9c7cc;
    }
    .listtext2 p{
        font-family: 'Montserrat-SemiBold';
        font-size: 18px;
        color: #1b1d1e;
        background-image: url(../../assets/images/listicon3.png);
        background-repeat: no-repeat;
        padding-left: 25px;
        padding-bottom: 10px;
        padding-top: 0px;
        background-position: left top 4px;
    }

    .newcontainer {
        width: 1565px;
        margin: 0 auto;
        display: block;
    }
    .colcontainer {
        display: flex;
        justify-content: space-between;
    }
    .col-6 {
        width: 59%;
    }
    
    
    .bannertitlewrapper {
        display: block;
        background-image: url(../../assets/images/newbannertitlebg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 25px;
        border-radius: 8px;
        border: 1px solid #fff;
        margin-bottom: 20px;
        width: fit-content;
    }
    
    .bannertextwrapper h5 strong {
        display: block;
    }
    
    
    .bannertextwrapper h5, .bannertextwrapper h5 span, .bannertextwrapper h5 strong {
        font-family: 'Montserrat-Bold';
        font-size: 50px;
        background: rgb(9,49,70);
        background: linear-gradient(0deg, rgba(9,49,70,1) 0%, rgba(9,49,70,1) 50%, rgba(11,82,120,1) 50%, rgba(11,82,120,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 1px #fff);
        line-height: 56px;
    }
    
    
    .bannertitlewrapper .pece::after {
        content: 'TM';
        font-size: 12px;
        background: #093146;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        top: 9px;
        right: 0px;
    }
    
    .pece::after {
        content: 'TM';
        font-size: 10px;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        right: 0;
        line-height: 18px;
    }
    
    .titlewrapper h2 .pece::after{
        background: rgb(0,0,0);
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(50%, rgba(77,77,77,1)), to(rgba(77,77,77,1)));
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(77,77,77,1) 50%, rgba(77,77,77,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .textwrapper h2 .pece::after{
        background: #000000;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        top: 8px;
    }

    .bannertext h3, .bannertext h3 span {
        font-size: 90px;
        color: #fff;
        font-family: 'Montserrat-Bold';
        line-height: 90px;
        background: rgb(219,235,238);
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(219,235,238,1)), color-stop(50%, rgba(219,235,238,1)), color-stop(50%, rgba(255,255,255,1)), to(rgba(255,255,255,1)));
        background: linear-gradient(0deg, rgba(219,235,238,1) 0%, rgba(219,235,238,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-filter: drop-shadow(0px 1px rgba(0,0,0,0.3));
        filter: drop-shadow(0px 1px rgba(0,0,0,0.3));
    }
    .bannertext h4 {
        color: #082839;
        font-size: 30px;
        font-family: 'Montserrat-Regular';
        margin-bottom: 20px;
    }

    .bannertext h2 {
        color: #fff;
        font-size: 30px;
        font-family: 'Montserrat-SemiBold';
        background: rgb(28,187,234);
        background: -webkit-gradient(linear, left top, right top, from(rgba(28,187,234,1)), color-stop(50%, rgba(12,172,246,1)), color-stop(68%, rgba(11,171,247,1)), to(rgba(11,171,247,0)));
        background: linear-gradient(90deg, rgba(28,187,234,1) 0%, rgba(12,172,246,1) 50%, rgba(11,171,247,1) 68%, rgba(11,171,247,0) 100%);
        padding: 20px;
        box-shadow: -5px 2px 7px rgba(0,0,0,0.1);
        padding-right: 220px;
        border: 1px solid #31c8f9;
        border-right: 0;
        border-radius: 5px 0px 0px 5px;
        text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    }

    .bannertext h2 span {
        color: #fef500;
    }

.footeritem2 .mat-list-item-content, .footeritem3 .mat-list-item-content{flex-wrap: wrap;}

.btnblue{
    color: #fff; 
    font-size: 25px;
    font-family: 'Montserrat-SemiBold';
    background: rgb(0,151,241);
    background: linear-gradient(0deg, rgba(0,151,241,1) 0%, rgba(0,194,254,1) 100%);
    padding: 10px 30px;
    border: 0;
    border-radius: 5px;
}

.buttonwrapper{display: inline-block; text-align: center; padding: 20px 0;width: 100%;}

.mat-menu-panel {
    background: rgb(254,254,255) !important;
    background: linear-gradient(0deg, rgba(254,254,255,1) 0%, rgba(202,218,222,1) 100%) !important;
    border-radius: 0 !important;
}

.mat-menu-item{
    font-size: 16px !important;
    color: #000 !important;
    border-bottom: 1px solid #636363 !important;
    height: auto !important;
    line-height: 30px !important;
    text-transform: uppercase;
}

.mat-menu-item:nth-last-child(1){border: none !important;}
.mat-menu-item:hover{
    background: rgb(26,190,115) !important;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(26,190,115,1)), to(rgba(29,188,232,1))) !important;
}



.liststyle1 p{
    position: relative;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    padding-left: 50px;
}

.liststyle1 p::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 13px;
    top: 20px;
    background: #0b4d70;
}

.liststyle1 p::after {
    content: '';
    background-image: url(../../assets/images/listicon4.png);
    height: 25px;
    width: 25px;
    position: absolute;
    left: 0;
    top: 3px;
    background-repeat: no-repeat;
}
.liststyle1 p:nth-last-child(1)::before{display: none;}
.liststyle2 p{
    font-size: 18px;
    position: relative;
    padding: 5px;
    background: rgb(191,224,229);
    background: -webkit-gradient(linear, left top, right top, from(rgba(191,224,229,1)), color-stop(60%, rgba(191,224,229,1)), to(rgba(191,224,229,0)));
    background: linear-gradient(90deg, rgba(191,224,229,1) 0%, rgba(191,224,229,1) 60%, rgba(191,224,229,0) 100%);
    border-left: 4px solid #0b4d70;
    padding-left: 10px;
    color: #000000;
    text-shadow: -1px 1px 0px rgb(0 0 0 / 10%);
}

.liststyle2 p::before{
    content: '';
    height: 4px;
    width: 6px;
    background: #0b4d70;
    position: absolute;
    left: 0;
    bottom: 0;
}
.liststyle2 p::after{
    content: '';
    height: 4px;
    width: 6px;
    background: #0b4d70;
    position: absolute;
    left: 0;
    top: 0;
}
.textwrapper.liststyle3 {
    border-left: 2px solid #20bce7;
    padding-left: 10px;
    position: relative;
    z-index: 1;
}


.nmsfunneldoctor_block8{position:relative;margin-bottom:0}
.nmsfunneldoctor_block8 .nmsfunneldoctor_block_wrapper{
    padding: 1px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.nmsfunneldoctor_block8 .nmsfunneldoctor_block_wrapper h2{padding:0;margin:0;color:#1b69a9;font-family:'Lato-Bold';font-size:48px;line-height:48px;text-align:center;text-transform:uppercase;text-overflow:ellipsis;margin-bottom:30px;margin-top:10px}
.nmsfunneldoctor_block8 ol li{position:relative}
.nmsfunneldoctor_block8 ol{-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:40px;-moz-column-gap:40px;column-gap:40px;list-style:decimal!important;counter-reset:item}
.nmsfunneldoctor_block8 ol li{display:block;min-height: 130px;padding: 53px 0;}
.nmsfunneldoctor_block8 ol li:before{
    content: counters(item, '.') " ";
    counter-increment: item;
    font-size: 50px;
    position: absolute;
    left: -20px;
    top: 20px;
    z-index: 9;
    color: #939393;
    padding: 0 0;
    font-family: 'Lato-Bold';
    height: 64px;
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 7px 5px 10px rgba(0,0,0,0.3);
    background-image: url(../../assets/images/tsicon1.png);
}
.nmsfunneldoctor_block8 ol{background:url(../../assets/images/block8imgmiddle_new.png) no-repeat;background-position:top;background-size:contain;padding-left:0}
.listwarppercls{
   background: rgb(28,187,234);
   background: linear-gradient(90deg, rgba(28,187,234,1) 0%, rgba(21,195,94,1) 100%);
   border-radius:100px;
   border-top-left-radius:0;
   border-bottom-left-radius:0;
   padding:10px;
   margin:10px 0;
   width:415px;
   align-items:center;
   display: -webkit-box; 
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex; 
   display:flex;
   justify-content:space-between;
   position:relative;
   z-index:1;
   min-height: 85px;
   border-radius: 8px;
   box-shadow: inset 0 0 10px #00000070;
}
.listwarppercls h4{padding:0;margin:0;color:#ffffff;font-family:'Montserrat-Regular';font-size:22px;line-height:25px;text-align:left;width:57%;padding-left:22px;font-weight:400}
.nmsfunneldoctor_block8 ol li:first-child:last-child .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+2):nth-last-child(-n+2) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+3):nth-last-child(-n+3) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+4):nth-last-child(-n+4) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+5):nth-last-child(-n+5) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+6):nth-last-child(-n+6) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+7):nth-last-child(-n+7) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+8):nth-last-child(-n+8) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+9):nth-last-child(-n+9) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+10):nth-last-child(-n+10) .listwarppercls{border-radius:100px;border-top-right-radius:0;border-bottom-right-radius:0;border-radius: 8px;}
.nmsfunneldoctor_block8 ol li:first-child:last-child,.nmsfunneldoctor_block8 ol li:nth-child(n+2):nth-last-child(-n+2),.nmsfunneldoctor_block8 ol li:nth-child(n+3):nth-last-child(-n+3),.nmsfunneldoctor_block8 ol li:nth-child(n+4):nth-last-child(-n+4),.nmsfunneldoctor_block8 ol li:nth-child(n+5):nth-last-child(-n+5),.nmsfunneldoctor_block8 ol li:nth-child(n+6):nth-last-child(-n+6),.nmsfunneldoctor_block8 ol li:nth-child(n+7):nth-last-child(-n+7),.nmsfunneldoctor_block8 ol li:nth-child(n+8):nth-last-child(-n+8),.nmsfunneldoctor_block8 ol li:nth-child(n+9):nth-last-child(-n+9),.nmsfunneldoctor_block8 ol li:nth-child(n+10):nth-last-child(-n+10){direction:rtl}
.nmsfunneldoctor_block8 ol li:first-child:last-child:before,.nmsfunneldoctor_block8 ol li:nth-child(n+2):nth-last-child(-n+2):before,.nmsfunneldoctor_block8 ol li:nth-child(n+3):nth-last-child(-n+3):before,.nmsfunneldoctor_block8 ol li:nth-child(n+4):nth-last-child(-n+4):before,.nmsfunneldoctor_block8 ol li:nth-child(n+5):nth-last-child(-n+5):before,.nmsfunneldoctor_block8 ol li:nth-child(n+6):nth-last-child(-n+6):before,.nmsfunneldoctor_block8 ol li:nth-child(n+7):nth-last-child(-n+7):before,.nmsfunneldoctor_block8 ol li:nth-child(n+8):nth-last-child(-n+8):before,.nmsfunneldoctor_block8 ol li:nth-child(n+9):nth-last-child(-n+9):before,.nmsfunneldoctor_block8 ol li:nth-child(n+10):nth-last-child(-n+10):before{
    font-size:40px;
    position:absolute;
    right: -20px !important;
    top: 20px;
    z-index:9;
    left:inherit
}
.imgwrapperblock8{

}
.imgwrapperblock8 img{max-width:100%;object-fit:cover;min-height:100%}
.libase{position:relative}
.li1:after{
    content:"";
    position: absolute;
    right: 0;
    top: 49%;
    background-image: url(../../assets/images/tsarrow1.png);
    height: 100px;
    width: 300px;
    -webkit-transform: rotate(25deg);
    transform: rotate(4deg);
    background-repeat: no-repeat;
}
.li2:after{
    content:"";
    background-image: url(../../assets/images/tsarrow2.png);
    background-repeat: no-repeat;
    position:absolute;
    right:20px;
    top:33%;
    height: 100px;
    width: 300px;
    transform:rotate(-5deg);
}
.li3:after{
    content:"";
    background-image: url(../../assets/images/tsarrow3.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -20px;
    top: -5%;
    height: 130px;
    width: 300px;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-2deg);
}
.li4:after{
    content:"";
    background-image: url(../../assets/images/tsarrow4.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -20px;
    top: 28%;
    height: 60px;
    width: 300px;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-2deg);
}
.li5:after{
    content:"";
    background-image: url(../../assets/images/tsarrow5.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 226px;
    position: absolute;
    left: 33px;
    top: 46%;
    -webkit-transform: rotate(-8deg);
    transform: rotate(0deg);
}
.li6:after{
    content:"";
    background-image: url(../../assets/images/tsarrow6.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 264px;
    position: absolute;
    left: 13px;
    top: 10%;
    -webkit-transform: rotate(-8deg);
    transform: rotate(0deg);
}
.li7:after{
    content:"";
    background-image: url(../../assets/images/tsarrow7.png);
    background-repeat: no-repeat;
    height: 22px;
    width: 237px;
    position: absolute;
    left: 53px;
    top: 43%;
    -webkit-transform: rotate(-8deg);
    transform: rotate(0deg);
}
.li8:after{
    content:"";
    background-image: url(../../assets/images/tsarrow8.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 264px;
    position: absolute;
    left: 48px;
    top: 18%;
    -webkit-transform: rotate(-8deg);
    transform: rotate(0deg);
}
.vmblock2{background:none!important}
.vmblock2 .yellowbtn{display:block;margin:0 auto}


.li1 .imgwrapperblock8, .li2 .imgwrapperblock8, .li3 .imgwrapperblock8, .li4 .imgwrapperblock8{
    position: absolute;
    top: 58%;
    right: -80px;
    transform: translateY(-50%);
}


.li5 .imgwrapperblock8, .li6 .imgwrapperblock8, .li7 .imgwrapperblock8, .li8 .imgwrapperblock8{
    position: absolute;
    top: 58%;
    left: -80px;
    transform: translateY(-50%);
}
.textwrapperbg{
    background: rgb(228,235,239);
    background: linear-gradient(0deg, rgba(228,235,239,1) 0%, rgba(255,255,255,1) 100%);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.textwrapper h3 {
    font-family: Montserrat-SemiBold;
    font-size: 24px;
}
.textwrapper h5{
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    font-weight: normal;
} 

.liststyle4 p{
    position: relative;
    padding-left: 50px;
}
.liststyle4 p::after{
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    height: 15px;
    width: 15px;
    background: #1cbbe9;
    border: 6px solid #e3e3e3;
    border-radius: 50%;
}


.greengradient {
    background: rgb(28,187,234);
    background: -webkit-gradient(linear, left top, right top, from(rgba(28,187,234,1)), to(rgba(21,195,94,1)));
    background: linear-gradient(90deg, rgba(28,187,234,1) 0%, rgba(21,195,94,1) 100%);
    padding: 25px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.graygradient {
    padding: 10px 20px;
    background: rgb(228,236,239);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(228,236,239,1)), to(rgba(255,255,255,1)));
    background: linear-gradient(0deg, rgba(228,236,239,1) 0%, rgba(255,255,255,1) 100%);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}





























