<app-header></app-header>

<mat-card class="bannerblock">
  <span class="newcontainer">


    <span class="bannertextwrapper">
      <h1>
        <span>RM-3A ANS </span> MEDICAL DEVICE
      </h1>
      <p>
        Scientifically validated and FDA cleared, this Class 2 analytical medical device performs a range of tests. This
        is a highly
        comprehensive, and non-invasive medical device that examines 8 essential health risk areas within the body.
      </p>
      <h2>YOU WILL HAVE PLENTY OF OPPORTUNITIES TO ORDER THIS TEST!</h2>
    </span>

  </span>
</mat-card>

<span class="blocksbg">

  <mat-card class="tsblock1">
    <img src="../../../assets/images/tsimage2.png" class="ab_image">
    <span class="newcontainer">
      <mat-card-contant class="colcontainer">
        <mat-card-contant class="col-4"></mat-card-contant>
        <mat-card-contant class="col-6">
          <span class="yellowgradient">
            RM-3A COMES IN TWO CHOICES
          </span>
          <span class="textwrapper">
            <h3>RM-3A Medical Device</h3>
            <p>SCIENTIFICALLY VALIDATED AND FDA CLEARED, The RM-3A scan is a highly comprehensive, and non-invasive,
              medical device that measures 8 health risk areas within the body. This yearly test effectively measures
              the state of a patient’s health by screening for hidden causes of disease and other metabolic disorders.
            </p>
          </span>
          <img src="../../../assets/images/tsimage1.png">
        </mat-card-contant>
      </mat-card-contant>
    </span>
  </mat-card>

  <mat-card class="tsblock2">
    <span class="newcontainer">
      <mat-card-contant class="colcontainer">
        <mat-card-contant class="col-3">
          <span class="imgwrapper"><img src="../../../assets/images/tsimage5.png"></span>
        </mat-card-contant>
        <mat-card-contant class="col-7">
          <span class="textwrapper">
            <h3><img src="../../../assets/images/rm31max.png"> RM-3A MAX MEDICAL DEVICE</h3>
            <p>
              Focusing on early detection and follow-up of complications (autonomic nervous system & vascular system) of
              chronic metabolic diseases such as Diabetes, the RM-3A MAX ANS Medical Device is a user-friendly,
              non-invasive tool for
              Autonomic, Vascular and Cardiometabolic Risk Assessments.
            </p>
          </span>
        </mat-card-contant>
      </mat-card-contant>
    </span>
  </mat-card>


  <mat-card class="vmblock2">
    <img src="../../../assets/images/ts_image4.png" class="ab_image">
    <span class="newcontainer">
      <span class="titlewrapper">
        <h2>8 Essential Risk Factors</h2>
      </span>
      <div class="container-fluid nmsfunneldoctor_block8">
        <div class="nmsfunneldoctor_block_wrapper">
          <ol>
            <li class="libase li1">
              <div class="listwarppercls">
                <h4>Autonomic Nervous System Dysfunction</h4>
                <span class="imgwrapperblock8">
                  <img src="../../assets/images/block8featureimg1.jpg" class="imgblock8cls">
                </span>
              </div>

            </li>
            <li class="libase li2">
              <div class="listwarppercls">
                <h4>Insulin Resistance</h4>
                <span class="imgwrapperblock8">
                  <img src="../../assets/images/block8featureimg2.jpg" class="imgblock8cls">
                </span>
              </div>
            </li>
            <li class="libase li3">
              <div class="listwarppercls">
                <h4>Endothelial Dysfunction.</h4>
                <span class="imgwrapperblock8">
                  <img src="../../assets/images/block8featureimg3.jpg" class="imgblock8cls">
                </span>
              </div>
            </li>
            <li class="libase li4">
              <div class="listwarppercls">
                <h4>Sudomotor Dysfunction</h4>
                <span class="imgwrapperblock8">
                  <img src="../../assets/images/block8featureimg4.jpg" class="imgblock8cls">
                </span>
              </div>
            </li>
            <li class="libase li5">
              <div class="listwarppercls">
                <h4>Cardiac Autonomic Neuropathy</h4>
                <span class="imgwrapperblock8">
                  <img src="../../assets/images/block8featureimg5.jpg" class="imgblock8cls">
                </span>
              </div>
            </li>
            <li class="libase li6">
              <div class="listwarppercls">
                <h4>Cardio- Metabolic Risk</h4>
                <span class="imgwrapperblock8">
                  <img src="../../assets/images/block8featureimg6.jpg" class="imgblock8cls">
                </span>
              </div>
            </li>
            <li class="libase li7">
              <div class="listwarppercls">
                <h4>Small Fibre Neuropathy</h4>
                <span class="imgwrapperblock8">
                  <img src="../../assets/images/block8featureimg7.jpg" class="imgblock8cls">
                </span>
              </div>
            </li>
            <li class="libase li8">
              <div class="listwarppercls">
                <h4>Cardio-vascular Disease </h4>
                <span class="imgwrapperblock8">
                  <img src="../../assets/images/block8featureimg8.jpg" class="imgblock8cls">
                </span>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </span>
  </mat-card>


  <mat-card class="block ts_block3">
    <img src="../../../assets/images/tsimage3.png" class="ab_image">
    <span class="newcontainer">

      <mat-card-contant class="colcontainer">
        <mat-card-contant class="col-5">
          <span class="titlewrapper">
            <mat-card-title class="yellowgradient">Health Risk Factors Defined</mat-card-title>
            <p>Here is a quick review of the health risk factors that the RM-3A device is based on. All of these are
              easy to read and act on.</p>
          </span>
        </mat-card-contant>
        <mat-card-contant class="col-5">
          <mat-card-content class="contentwrapper">
            <span class="listmainwrapper">
              <!-- <img class="abimage" src="../../../assets/images/ts_image1.png"> -->
              <span class="listwrapper listwrapper1">
                <mat-card-subtitle>
                  <strong>
                    <span>1</span>

                  </strong>
                  <p>
                    <span> Autonomous Nervous System Dysfunction Risk - <i>Ansd</i></span>
                    Problems with the ANS can range from mild to life-threatening. Sometimes, only one part of the
                    nervous system is affected. In other cases, the entire ANS is affected. Some conditions are
                    temporary
                    and can be reversed, while others are chronic and will continue to worsen over time. Diseases such
                    as
                    Diabetes
                    or Parkinson’s Disease can cause irregularities with ANS. Problems with ANS regulation often involve
                    organ
                    failure,
                    or the failure of the nerves to transmit a necessary signal.
                  </p>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <strong>
                    <span>2</span>
                  </strong>
                  <p>
                    <span> Sudomotor Dysfunction Risk - <i>Sudod</i> </span>
                    Sudomotor dysfunction testing may indicate to physicians a patient's peripheral nerve and cardiac
                    sympathetic
                    dysfunction.
                    Neuropathy is a common complication in diabetes mellitus (DM), with 60%-70% of patients affected
                    over
                    their
                    lifetime. Symptoms of neuropathy is more common than
                    clinical neuropathy. Neuropathy may remain undetected, and progress over time leading to serious
                    complications. The most
                    common associated clinical condition is peripheral neuropathy, affecting the feet. Autonomic nerve
                    involvement
                    is common
                    but probably the most undiagnosed. Low scores
                    in the sudomotor may lead a medical provider to look at clinical neuropathy.
                  </p>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <strong>
                    <span>3</span>
                  </strong>
                  <p>
                    <span> Endothelial Dysfunction Risk - <i>Endod</i></span>
                    Current evidence suggests that endothelial function is an integrative marker of the net effects of
                    damage from
                    traditional and emerging risk factors on the arterial wall and its intrinsic
                    capacity for repair. Endothelial dysfunction, detected as the presence of reduced vasodilating
                    response
                    to
                    endothelial stimuli, has been observed to be associated with major cardiovascular risk factors, such
                    as
                    aging,
                    hyperhomocysteinemia, post-menopause state, smoking, diabetes, hypercholesterolemia, and
                    hypertension.
                  </p>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <strong>
                    <span>4</span>
                  </strong>
                  <p>
                    <span>Insulin Resistance Risk - <i>Ir</i></span>
                    Insulin resistance is defined clinically as the inability of a known quantity of exogenous or
                    endogenous insulin to increase glucose uptake and utilization in an individual as much as it does in
                    a
                    normal
                    population. Insulin resistance occurs as part of a cluster of cardiovascular
                    metabolic abnormalities commonly referred to as "The Insulin Resistance Syndrome" or "The Metabolic
                    Syndrome".
                    This cluster of abnormalities may lead to the development of Type-2
                    diabetes, accelerated atherosclerosis, hypertension or polycystic ovarian syndrome depending on the
                    genetic
                    background of the individual developing insulin resistance.
                  </p>
                </mat-card-subtitle>
              </span>
            </span>

          </mat-card-content>
        </mat-card-contant>
      </mat-card-contant>
    </span>
  </mat-card>


  <mat-card class="block ts_block4">
    <img src="../../../assets/images/tsimage4.png" class="ab_image">
    <span class="newcontainer">
      <mat-card-contant class="colcontainer">
        <mat-card-contant class="col-5">
          <mat-card-content class="contentwrapper">
            <!-- <img class="listimage2" src="../../../assets/images/ts_image2.png"> -->
            <span class="listmainwrapper2">
              <!-- <img class="abimage" src="../../../assets/images/ts_image2.png"> -->
              <span class="listwrapper listwrapper2">
                <mat-card-subtitle>
                  <strong>
                    <span>5</span>
                  </strong>
                  <p>
                    <span>Cardiometabolic Risk - <i>Cmr</i></span>
                    The specific factors that can cause this increased risk include obesity (particularly central),
                    hyperglycemia, hypertension, insulin resistance, and dyslipoproteinemia. When patients have one or
                    more
                    risk
                    factors and are physically inactive or smoke, the cardiometabolic risk is increased even more.
                    Medical
                    conditions that often share the above characteristics, such as type 2 diabetes, can also increase
                    cardiometabolic risk. The primary focus of cardiometabolic risk treatment is the management of each
                    high-risk
                    factor, including dyslipoproteinemia,
                    hypertension, and diabetes. The management of these subjects is based principally on lifestyle
                    measures, but various antihypertensive, lipid-lowering, insulin-sensitizing, anti-obesity and
                    antiplatelet
                    drugs could be helpful in reducing cardiometabolic risk.
                  </p>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <strong>
                    <span>6</span>
                  </strong>
                  <p>
                    <span>Small Fiber Neuropathy Risk - <i>Sfn</i></span>
                    A small fiber neuropathy occurs when damage to the peripheral nerves predominantly or
                    entirely affects the small myelinated fibers or unmyelinated C fibers. The specific fiber types
                    involved
                    in
                    this process include both small somatic and autonomic fibers. The sensory
                    functions of these fibers include thermal perception and nociception. These fibers are involved in
                    many
                    autonomic and enteric functions.
                  </p>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <strong>
                    <span>7</span>
                  </strong>
                  <p>
                    <span>Small Fiber Neuropathy Risk - <i>Sfn</i></span>
                    High blood glucose levels over a period of years may cause a condition called autonomic neuropathy.
                    This
                    is
                    damage to the nerves that control the regulation of involuntary
                    function. When the nerve damage affects the heart, it is called cardiac autonomic
                    neuropathy (CAN). CAN encompasses damage to the autonomic nerve fibers that
                    innervate the heart and blood vessels, resulting in abnormalities in heart rate control,
                    vascular dynamics and the body's ability to adjust blood pressure. CAN is a significant cause of
                    morbidity and
                    mortality associated with a high risk of cardiac arrhythmias and sudden death.
                  </p>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <strong>
                    <span>8</span>
                  </strong>
                  <p>
                    <span>Plethysmography Cardiovascular Disease Risk - <i>Ptg Cvd</i></span>
                    The PTG CVD risk factor is the combined total of the other seven risk factors assessments. It takes
                    into
                    consideration the cardiovascular as well as the autonomic nervous system (ANS) measurements.
                  </p>
                </mat-card-subtitle>
              </span>
            </span>

          </mat-card-content>
        </mat-card-contant>
        <mat-card-contant class="col-5"></mat-card-contant>
      </mat-card-contant>



    </span>
  </mat-card>



</span>

<app-footer></app-footer>