<app-header></app-header>

<mat-card class="bannerblock">
  <span class="newcontainer">


    <!-- <span class="bannertextwrapper">
      <h1>
        OUR ANS MEDICAL DEVICE PLATFORM
      </h1>
      <p>
        Scientifically validated and FDA cleared, this Class 2 analytical medical device performs a range of tests. This
        is a highly
        comprehensive, and non-invasive medical device that examines 8 essential health risk areas within the body.
      </p>
      <h2>YOU WILL HAVE PLENTY OF OPPORTUNITIES TO ORDER THIS TEST!</h2>
    </span> -->

  </span>
</mat-card>
<div class="imagewrapper"><img src="../../../assets/images/ts_nweimage2.jpg"></div>
<div class="imagewrapper"><img src="../../../assets/images/ts_nweimage3.jpg"></div>
<div class="imagewrapper"><img src="../../../assets/images/ts_nweimage4.jpg"></div>
<div class="imagewrapper"><img src="../../../assets/images/ts_nweimage5.jpg"></div>
<div class="imagewrapper"><img src="../../../assets/images/ts_nweimage6.jpg"></div>
<div class="imagewrapper"><img src="../../../assets/images/ts_nweimage7.jpg"></div>
<div class="imagewrapper"><img src="../../../assets/images/ts_nweimage8.jpg"></div>
<div class="imagewrapper"><img src="../../../assets/images/ts_nweimage9.jpg"></div>
<div class="imagewrapper"><img src="../../../assets/images/ts_nweimage10.jpg"></div>

<app-footer></app-footer>