.bannerwrapper{width:1063px;margin-left:0;display:flex!important;align-items:center!important;flex-wrap:wrap!important;justify-content:center!important;flex-direction:column}
.bannerblock{background-image:url(../../../assets/images/pvp_banner.jpg)!important;width:100%;box-shadow:none!important;padding:0!important;border-radius:0!important;position:relative;background-position:right top!important;background-repeat:no-repeat!important;background-size:cover}
.blockbggrad{background-image:url(https://all-frontend-assets.s3.amazonaws.com/AWS+Frontend+assets/images/blockbg1grd.jpg)!important;width:100%;box-shadow:none!important;padding:0!important;border-radius:0!important;position:relative;background-position:right top!important;background-repeat:no-repeat!important;background-size:cover;overflow:hidden}
.mat-card{margin:0;padding:0}
.content_right_wrap,.content_right{z-index:99;position:relative}
.content_wrapper{display:flex;flex-direction:row;justify-content:space-between;align-items:flex-end;margin-bottom:30px!important;position:relative}
.content_right_img{width:100%;background:#fff;border:10px solid #cfdde1;display:block}
.content_right_img img{width:100%;object-fit:cover}
.newcontainer .content_right{margin:0}
.blockone{width:100%;box-shadow:none!important;padding:0!important;border-radius:0!important;position:relative;padding-bottom:0!important;background:transparent!important}
.blockonecontent:nth-child(odd){display:flex;flex-direction:row;justify-content:flex-end}
.blockonecontent:nth-child(even){display:flex;flex-direction:row;justify-content:flex-start}
.blockone .content_right .title{font-family:'Montserrat-Regular';font-size:24px;color:#ff6c00;position:relative;line-height:32px}
.blockone .content_right .subtitle{font-family:'Montserrat-Regular';font-size:24px;color:#464949;position:relative;line-height:28px;margin-top:20px}
.blockone .content_right .parag,.parag{font-family:'Montserrat-Regular';font-size:18px;color:#464949;position:relative;line-height:20px}
.content_right_wrap{display:flex;flex-wrap:wrap;flex-direction:row;display:flex;flex-direction:column}
.blockone .blockonecontent.ppp{min-height:240px;position:relative;z-index:99}
.ppp .content_right .title{padding-left:25px}
.ppp .content_right .items{padding-left:25px}
.ppp .content_right{width:56%;float:right;margin-top:57px}
.ppp .content_right_img{height:300px;overflow:hidden}
.blockone .content_right .title{font-family:'Montserrat-Regular';font-size:24px;color:#696d6d;position:relative;line-height:32px}
.items{display:-webkit-box;display:flex;flex-wrap:wrap;margin-bottom:20px;padding:0 10px!important}
.features .items{background-color:#fff;box-shadow:0 0 7px rgba(0,0,0,0.3);border-radius:5px;padding:25px 10px!important}
.yellowgradient,.bluegradient{width:fit-content}
.items .item{box-sizing:border-box;padding:10px 0;display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between;margin-bottom:0;height:auto;margin-right:1%;-webkit-box-align:start;align-items:flex-start;height:auto;position:relative;padding:6px 21px;color:#3a3a3a;font-family:MontserratBold;font-size:18px;background:url(../../../assets/images/pvpblod1.png) left 10px no-repeat;box-sizing:border-box}
.items.double .item{background:url(../../../assets/images/pvpblod2.png) left 10px no-repeat}
.items .item .parag{-webkit-box-align:start;align-items:flex-start;-webkit-box-flex:1;flex:1 1 100%}
.items .item .parag span{color:#ff6c00;text-transform:uppercase}
.items.one .item{-webkit-box-flex:1;flex:0 1 100%}
.items.double .item{-webkit-box-flex:3;flex:0 1 32%;margin:0}
.items.triple .item{-webkit-box-flex:1;flex:0 1 32.333%}
.items.four .item{-webkit-box-flex:1;flex:0 1 24%}
.items.one .item{margin-right:0}
.items.double .item:nth-child(2n){margin-right:0}
.items.triple .item:nth-child(3n){margin-right:0}
.blockonecontentwrap{display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between;flex-wrap:wrap}
.blockonecontentwrap .double{-webkit-box-flex:1;-webkit-box-orient:vertical;-webkit-box-direction:normal;display:flex;justify-content:space-between;align-items:flex-start}
.blockonecontentwrap .double .blockonecontent{display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;width:49%;align-items:flex-start;position:relative}
.text-center{text-align:center}
.text-right{text-align:right}
.tdval .content_right{width:60%}
.tdval .content_right .headerBGmainwrapper{margin-right:2%;flex:1 0 47%}
.tdval .content_wrapper{display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between;flex-wrap:wrap;flex-direction:row}
.tdval .content_wrapper h2{font-family:'Montserrat-Regular';font-size:30px;color:#1e2426;margin:30px 0}
.tdval .headerBGmain{margin-bottom:0}
.features .items .item .parag{-webkit-box-align:start;align-items:flex-start;-webkit-box-flex:1;flex:1 1 100%;padding-left:65px}
.features .items .item{background:none!important;width:49%;-webkit-box-flex:inherit;flex:inherit;padding:15px 0}
.features .items .item:nth-child(1){margin-top:0}
.features .items .item .parag{display:initial;align-items:center}
.features .items .item .parag .imgwrapper{height:31px;width:31px;border:1px solid rgba(2,2,2,0.5);border-radius:100%;background:#fff;overflow:hidden;display:block;position:absolute;left:0;top:0;padding:8px}
.features .items .item .parag .imgwrapper img{max-width:100%;display:block}
.features .items .item .parag .orangetxt{color:#00c309;text-transform:uppercase;font-weight:400}
.dataanlytics .content_right{width:75%;float:left}
.dataanlytics .content_right_inner{background-color:transparent;border:0 solid #c4cacc}
.dataanlytics .items.one .item{margin-bottom:20px}
.dataanlytics .content_right .mat-card-subtitle{font-family:'Montserrat-Regular';font-size:24px;color:#575a5a;text-transform:uppercase}
.dataanlytics .content_right .mat-list{width:92%}
.systemscreen .content_right{float:right;margin-top:1%;margin-left:10%}
.systemscreeninner{display:flex;-webkit-box-align:center;align-items:stretch;-webkit-box-pack:center;justify-content:center;flex-wrap:wrap;flex-direction:column}
.large_image{display:block;margin:0;position:relative}
.large_image img{max-width:100%}
.large_image button{position:absolute;right:-24px;top:-13px;padding:0;min-width:0;width:40px;height:40px;line-height:inherit;border:none}
.large_image button:focus{outline:none}
.large_image button:hover{background:transparent!important}
.content_right_inner{background-color:#fff;padding:5px;border:1px solid #c4cacc;display:block;border-radius:10px;padding-top:20px}
.text-center.mat-card-content .yellowbtn{margin:0 10px}
.lstblock{position:relative;padding-bottom:30px;padding-left:920px;padding-right:80px}
.lstblock .abimage{position:absolute;left:0;bottom:0}
.lstblock .lastbanner{position:absolute;right:0;bottom:0}
.lstblock .yellowbtn{position:relative;z-index:1}
.blockonecontent{position:relative}
.ppp .abimage{position:absolute;left:0;top:0;width:57%}
.tdval .abimage{position:absolute;right:0;top:0;width:50%}
.dataanlytics .abimage{position:absolute;right:50px;top:-39px;width:43%}
.bannertextwrapper h2{font-family:'Montserrat-Regular';font-size:20px;color:#fff;background-color:#1dbce9;border-radius:32px;padding:10px 20px;text-align:center;display:block;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;margin:0 auto}
.bannertextwrapper p{width:740px}
@media only screen and (max-width: 1870px) {
}
@media only screen and (max-width: 1820px) {
.lstblock{padding-left:883px;padding-right:48px}
}
@media only screen and (max-width: 1800px) {
.bannerblock{background-position:right -16px top!important}
}
@media only screen and (max-width: 1740px) {
.bannerblock{background-position:right -75px top!important}
}
@media only screen and (max-width: 1700px) {
.bannerblock{background-position:right 40% top!important}
.blockone .content_right .parag,.parag{font-size:14px;line-height:19px}
.headerBGmain{font-size:40px}
.ppp .content_left .imgwpo{position:absolute;right:0;top:-55%;width:70%}
}
@media only screen and (max-width: 1666px) {
.lstblock{padding-left:643px;padding-right:48px}
.lstblock .abimage{width:35%}
.dataanlytics .abimage{right:-14px;top:-39px;width:49%}
.tdval .abimage{right:-137px;width:59%}
}
@media only screen and (max-width: 1660px) {
.bannerwrapper{width:893px}
}
@media only screen and (max-width: 1640px) {
.ppp .abimage{left:-60px;width:61%}
}
@media only screen and (max-width: 1600px) {
.headerBGmain{font-size:40px;font-size:39px}
}
@media only screen and (max-width: 1560px) {
.tdval .content_wrapper h2{font-size:24px;margin:25px 0;margin-top:0}
}
@media only screen and (max-width: 1540px) {
.ppp .content_left .imgwpo{top:-70%;right:0;width:100%}
.headerBGmain{font-size:37px}
.systemscreen .content_right{margin-left:17%}
.systemscreeninner{margin-top:2%!important}
}
@media only screen and (max-width: 1440px) {
.dataanlytics .abimage{right:-14px;top:-39px;width:55%}
.bannerblock{background-position:right -200px top!important}
.banner-title span strong{font-size:46px;line-height:48px;-webkit-text-stroke-width:1px;-webkit-text-stroke-color:rgba(255,255,255,0.7)}
.headerBGmain{font-size:31px}
.blockone .content_right .title{font-size:22px;line-height:normal}
.systemscreeninner .yellowbtn{margin-top:15px}
}
@media only screen and (max-width: 1366px) {
.lstblock{padding-left:560px}
.banner-title span strong{font-size:43px;line-height:43px;-webkit-filter:drop-shadow(1px 2px 2px rgba(0,0,0,0.7));filter:drop-shadow(1px 2px 2px rgba(0,0,0,0.7));-webkit-text-stroke-width:1px;-webkit-text-stroke-color:rgba(255,255,255,0.7)}
.bannerwrapper .banner-cont{width:100%}
.bannerwrapper h2{width:98%}
.bannerwrapper .banner-cont p{font-size:21px}
.headerBGmain{font-size:29px}
}
@media only screen and (max-width: 1320px) {
.bannerwrapper{width:758px}
}
@media only screen and (max-width: 1280px) {
.bannerwrapper{width:515px}
.headerBGmain{font-size:28px;line-height:normal}
.blockone .blockonecontent.dataanlytics{background-position:left 200px top 175%}
.blockone .content_right .title{font-size:21px}
.ppp .content_left .imgwpo{top:-78%;right:0;width:100%}
}
@media only screen and (max-width: 1240px) {
.blockone .content_right .title{font-size:20px}
.bannerwrapper{width:414px}
.banner-title span strong{font-size:35px;line-height:32px}
.bannerwrapper .banner-cont p{font-size:19px}
.bannerwrapper h2{font-size:19px}
}
@media only screen and (max-width: 1199px) {
.dataanlytics .content_right_inner{padding:20px}
.bannerwrapper h2{padding: 2%;width:96%}
.bannerblock{background-position:right top!important;background-size:224%;padding-top:52%!important;padding-bottom:4%!important;background-color:#4a5f5d;height:auto;min-height:inherit}
.bannerwrapper{width:100%;text-align:center;margin:0 auto;display:block!important}
.bannerwrapper h1{background:none!important}
.bannerwrapper .banner-cont{width:auto}
.headerBGmainwrapper{flex-wrap:wrap;justify-content:center}
.headerBGmain{text-align:center}
.ppp .content_wrapper{flex-wrap:wrap;flex-direction:row}
.ppp .content_left{margin-right:auto;display:block;margin-left:auto;width:90%}
.ppp .content_right{width:100%;float:none;margin-top:0}
.ppp .content_left .imgwpo{top:0;right:0;position:inherit;margin:0 auto;display:block;width:100%}
.blockone .blockonecontent.tdval{flex-wrap:wrap}
.tdval .content_right{width:100%;margin-top:0!important;flex-wrap:wrap}
.tdval .content_right .headerBGmainwrapper{margin-right:auto;-webkit-box-flex:1;flex:1 0 100%}
.content_right_inner{margin-top:30px;padding:5px}
.tdval .content_wrapper h2{width:100%}
.blockone .blockonecontent.features{flex-wrap:wrap}
.features .content_right{width:100%;margin-top:0!important;flex-wrap:wrap}
.features .items .item .parag{display:block;text-align:center;padding-left:0}
.features .items.one .item{-webkit-box-flex:1;flex:1 1 100%;justify-content:center;margin-top:0}
.features .items .item .parag .imgwrapper{position:inherit;padding:8px;margin:0 auto;margin-bottom:10px}
.blockone .blockonecontent.dataanlytics{flex-wrap:wrap}
.dataanlytics .content_right{width:100%;margin-top:0!important;flex-wrap:wrap}
.text-right{text-align:center}
.systemscreen .content_right{width:100%;margin-top:0!important;flex-wrap:wrap;margin-left:auto}
.items.double .item:nth-child(2n){margin-right:0;text-align:left}
.systemscreeninner .yellowbtn{margin-top:0}
.items .item{-webkit-box-pack:center;justify-content:center;margin-right:auto;-webkit-box-align:center;align-items:center;padding:14px 21px;background-position:center 0}
.ppp .content_right .title{padding-left:0;text-align:center}
.items.double .item{-webkit-box-flex:1;flex:0 1 100%}
.blockone .content_right .parag,.parag{text-align:center}
.ppp .content_right .items{padding-left:0}
.content_wrapper{margin-bottom:20px!important}
.blockone .blockonecontent.ppp{margin-bottom:20px}
.items{margin-bottom:0}
.lstblock{position:relative;padding-bottom:30px;padding-left:0;padding-right:0;width:96%;margin:0 auto}
.lstblock .abimage{position:inherit;left:inherit;bottom:inherit;max-width:100%;display:block;margin:0px auto;margin-top:0;width:100%}
.lstblock .yellowbtn{margin:0 auto;display:block;width:fit-content}
.lstblock .lastbanner{display:none}
.ppp .abimage{left:inherit;width:100%;position:inherit;max-width:100%;display:block}
.blockonecontent:nth-child(odd){flex-wrap:wrap}
.tdval .abimage{right:inherit;width:100%;position:inherit;top:inherit;bottom:inherit}
.tdval .content_wrapper h2{text-align:center}
.dataanlytics .abimage{right:inherit;top:inherit;width:100%;position:inherit;right:inherit;top:inherit;width:100%;position:inherit;margin-bottom:20px}
.dataanlytics .content_right .mat-card-subtitle{text-align:center}
.items.double .item{background-position:center top;padding-top:20px}
.yellowgradient, .bluegradient {
    margin: 0 auto;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 991px) {
.bannertextwrapper p{width:auto;}
}
@media only screen and (max-width: 768px) {
.bannerwrapper h1 br{display:none;}
.bannerwrapper .banner-cont p{font-size:19px}
.yellowbtn{font-size:18px!important;white-space:normal;word-break:break-word;padding:9px 24px!important;line-height:normal}
}
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 540px) {
.headerBGmain{font-size:22px;line-height:normal}
}
@media only screen and (max-width: 480px) {
}