<div class="lpmainwrapper">
<mat-card class="lpblock1">
    <div class="newcontainer">
        <mat-card-content class="lptopbar">
            <span class="lp_logowrapper"><img src="../../../assets/images/lplogo.png" alt="#"></span>
            <span class="lptopbartext">
                <div class="textwrapper">
                    <h2>
                        <span>WELCOME, POTENTIAL HEALTH PROFIT</span>
                        <span>SOLUTIONS SALE REP</span>
                    </h2>
                </div>
            </span>
        </mat-card-content>
    </div>
</mat-card>
<mat-card class="lpblock2">
    <div class="newcontainer">
        <mat-card-content class="lpblock1subblock1">
            <div class="formmainwrapper">
                <div class="formtitle">
                    <h2>Fill In Your <br>
                        Details</h2>
                </div>

                <form [formGroup]="options" (ngSubmit)="contactUs()">
                    <mat-form-field appearance="fill">
                      <mat-label>First Name</mat-label>
                      <input matInput  formControlName="firstname" (blur)="inputUntouched('firstname')">
                      <mat-error *ngIf="!options.controls['firstname'].valid && options.controls['firstname'].errors.required && options.controls['firstname'].touched">
                          First Name field can not be blank
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Last Name</mat-label>
                      <input matInput formControlName="lastname" (blur)="inputUntouched('lastname')">
                      <mat-error *ngIf="!options.controls['lastname'].valid && options.controls['lastname'].errors.required && options.controls['lastname'].touched">
                          Last Name field can not be blank
                      </mat-error>
                    </mat-form-field>
                   
                    <mat-form-field appearance="fill">
                      <mat-label>Email Address</mat-label>
                      <input matInput formControlName="email" (blur)="inputUntouched('email')">
                      <mat-error *ngIf="!options.controls['email'].valid && options.controls['email'].errors.required && options.controls['email'].touched">
                        Email field can not be blank
                      </mat-error>
                      <mat-error *ngIf="!options.controls['email'].valid && !options.controls['email'].errors.required">Email is not valid</mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                      <mat-label>Phone </mat-label>
                      <input matInput type="number" formControlName="phone" (blur)="inputUntouched('phone')">
                      <mat-error *ngIf="!options.controls['phone'].valid && options.controls['phone'].errors.required && options.controls['phone'].touched">
                        Phone Number field can not be blank
                      </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                      <mat-label>City</mat-label>
                      <mat-select  formControlName="city"  (blur)="inputUntouched('city')" >
                        <mat-option *ngFor="let item of cityVal" value="{{item.val}}">{{item.name}}</mat-option>
                      </mat-select>
                     
                      <mat-error *ngIf="!options.controls['city'].valid && options.controls['city'].errors.required && options.controls['city'].touched">City is required</mat-error>
                  </mat-form-field>
    
                    <mat-form-field appearance="fill">
                     
                      <mat-label> State</mat-label>                               
                      <mat-select   formControlName="state" (blur)="inputUntouched('state')" >
                        <mat-option *ngFor="let item of stateVal" value="{{item.val}}">{{item.name}}</mat-option>
                      </mat-select>
                      
                      <mat-error *ngIf="!options.controls['state'].valid && options.controls['state'].errors.required && options.controls['state'].touched">State is required</mat-error>
                  </mat-form-field>
                     
                  <mat-form-field appearance="fill">
                      <mat-label>Zip</mat-label>
                      <input matInput type="number" formControlName="zipcode" (blur)="inputUntouched('zipcode')">
                      <mat-error *ngIf="!options.controls['zipcode'].valid && options.controls['zipcode'].errors.required && options.controls['zipcode'].touched">
                        Zip is required</mat-error>
                    </mat-form-field>
                    <div class="submitbtnwrapper">
                        <img src="../../../assets/images/buttonicon1.png" alt="#">
                        <button class="submitbtn"><span>Submit</span></button>
                    </div>
            </form>

                <!-- <form action="">
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email Address</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Zip</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="submitbtnwrapper">
                        <img src="../../../assets/images/buttonicon1.png" alt="#">
                        <button class="submitbtn"><span>Submit</span></button>
                    </div>
                </form> -->
            </div>
            <div class="lpblock1subtextwrapper">
                <div class="textsubwrapper textwrapper">
                    <div class="texttitlewrapper">
                        <div class="texttitlesubwrapper">
                            <h2>
                                <span>BECOME A REP WITH US AND</span>
                                <span>SELL THE <i class="pece">PECE</i> ANS</span>
                                <span>MEDICAL DEVICE PLATFORM</span>
                            </h2>
                            <span class="border1"></span>
                            <h3>
                                A REVOLUTIONARY PROGRAM THAT WILL BE “GOOD MEDICINE” FOR YOUR CLIENTS IN THE HEALTHCARE
                                INDUSTRY.
                            </h3>
                        </div>
                    </div>
                    <p>
                        <span>Join our fully-managed sales initiative,</span>
                        supported by a closing desk that has seasoned professionals who have closed hundreds of deals.
                        The pedigree of our product and services will allow you to walk into the largest hospital
                        properties, diagnostic centers,
                        and other medical facilities in the country.
                    </p>
                </div>

                <div class="arrowmainwrapper">
                    <img src="../../../assets/images/lp_image1.png" alt="#">
                    <div class="arrowwrapper">
                        <h2>
                            <span>Let’s get you started towards becoming</span>
                            <span>one of our early adopter Sales Reps</span>
                        </h2>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <div class="border2"></div>
    </div>
</mat-card>
<mat-card class="lpblock3">
    <div class="newcontainer">
        <div class="lpblock3subblock1">
            <div class="titlewrapperwitharrpw">
                <h2>INCREDIBLE COMMISSIONS ON OFFER</h2>
            </div>
            <div class="textwrapper">
                <h1>INTRODUCE OUR PROGRAM TO YOUR CLIENTS</h1>
                <h1>WE WILL HELP YOU CLOSE THE DEAL</h1>
                <h1>MAKE $7,500 A CLOSE + RESIDUAL $2 A TEST</h1>
                <h3>Your earning potential with us will be <span>MASSIVE.</span></h3>
                <div class="textsubwrapperbg">
                    <h3>COMPLETE THE FORM AND START MAKING BIG BUCKS RIGHT AWAY!</h3>
                </div>
            </div>
        </div>
        <div class="border2"></div>
    </div>
</mat-card>

<mat-card class="lpblock4">
    <div class="newcontainer">
        <div class="lpblock4subblock1">
            <div class="titlewrapper">
                <h3>
                    <span>EXCITING NEWS!!!</span>
                    YOU WILL HAVE ACCESS TO ALL THE MARKETING AND SALES MATERIAL THAT YOU WOULD NEED WHEN APPROACHING
                    POTENTIAL CLIENTS.
                </h3>
                <p>Once you register as a Sales Rep with us, you will have access to a vast array of training content
                    designed to help you learn all you need to know about our incredible technology. You will also have
                    marketing content to use when meeting potential clients, including:</p>


            </div>
            <div class="textwrapper">
                <div class="listtext2">
                    <span class="col1">
                        <p>BANNERS FOR MARKETING</p>
                        <p>FACEBOOK MEDIA</p>
                        <p>LINKEDIN BANNERS</p>
                    </span>
                    <span class="col2">
                        <p>NECESSARY EMAIL TEMPLATES</p>
                        <p>BROCHURES & REFERENCE GUIDES</p>
                        <p>LANDING PAGES TO CONVERT LEADS INTO DIRECT SALES</p>
                    </span>
                </div>
                <div class="textsubwrapperbg">
                    <h3>AND IF YOU FEEL THE NEED FOR CUSTOMIZED MEDIA CONTENT, WE HAVE A TEAM OF
                        DESIGNERS THAT WILL CREATE ANY CONTENT YOU NEED, IN NO TIME AT ALL.</h3>
                </div>
                <h4>Making commissions have never been any easier.</h4>
            </div>

        </div>
        <div class="border2"></div>
    </div>
</mat-card>

<mat-card class="lpblock5">
    <div class="newcontainer">
        <div class="lpblock5subblock1">
            <div class="titlewrapper">
                <h3>
                    Doctors and medical practices are already aware of the importance of ANS testing solutions in modern healthcare practices. You will be able to approach clients from a large pool of physician taxonomies,
                    <span>including:</span>
                </h3>
            </div>
            <div class="textwrapper">
                <div class="listtext2">
                    <span class="col1">
                        <p>Family Medicine</p>
                        <p>Endocrinology</p>
                        <p>General Practice</p>
                        <p>D.O. (Doctor of Osteopathy)</p>
                        <p>Primary Care</p>
                        <p>OB-GYN</p>
                    </span>
                    <span class="col2">
                        <p>Cardiology</p>
                        <p>Multi-Specialty Group</p>
                        <p>Internal Medicine</p>
                        <p>Orthopedic Surgeon (that provides long-term patient care)</p>
                        <p>Pain Management (Integrated Practice)</p>
                        <p>Pain Management Group with MD of proper taxonomy</p>
                    </span>
                </div>
                <div class="textsubwrapperbg">
                    <h3>This automatically translates into a massive client-pool for your Sales career and will 
                        take your monthly earnings to several thousands of dollars, if not more.</h3>
                </div>
            </div>
        </div>
        <div class="border2"></div>
    </div>
</mat-card>



<mat-card class="lpblock6">
    <div class="newcontainer">
        <div class="lpblock6subblock1">
            <div class="titlewrapper">
                <h3>
                    <span>The PECETM ANS Medical Device Platform aids in the early detection of over 20 disease complications, </span>
                    while also validating critical next-step treatment and testing for the physicians! These test results give medical practices 
                    <span>ACTIONABLE DATA </span> to immediately improve treatment measures preventing potential life-threatening diseases, including:
                </h3>
            </div>
            <div class="textwrapper">
                <div class="listtext2">
                    <span class="col1">
                        <p>Heart attack</p>
                        <p>Heart Rate Variability Issues</p>
                        <p>Cardiac Output to Body Surface Area</p>
                        <p>Abnormal LDL Cholesterol levels</p>
                        <p>Insulin Resistance</p>
                        <p>Diabetes with Complications</p>
                        <p>Physical and Mental Stress, Anxiety and Fatigue</p>
                        <p>Stroke</p>
                        <p>Angiotensin Activity</p>
                        <p>Atherosclerosis</p>
                        <p>Peripheral Vascular Disease</p>
                        <p>hyperhidrosis and Hypohidrosis</p>
                    </span>
                    <span class="col2">
                       <p>Impaired Glucose Intolerance</p>
                       <p>Nerve Damage</p>
                       <p>Obesity</p>
                       <p>Amyloid Neuropathy</p>
                       <p>Asthma</p>
                       <p>Cardiovascular Associated Diseases</p>
                       <p>Idiopathic Neuropathy</p>
                       <p>Multiple System Dystrophy</p>
                       <p>Post-Partum Dysfunctions</p>
                       <p>Psychological Conditions</p>
                       <p>Pure Autonomic Failure</p>
                       <p>Sjogren’s Syndrome</p>
                    </span>
                </div>
                <div class="textsubwrapperbg">
                    <h3>Your clients in the medical industry will love our platform for the amazing benefits 
                        and features it brings to their practices.</h3>
                </div>
                <button class="blackbtn">Learn more about The ANS SCIENCE behind our program.</button>
            </div>
        </div>
        <div class="border2"></div>
    </div>
</mat-card>



<mat-card class="lpblock7">
    <div class="newcontainer">
        <div class="lpblock7subblock1">
            <div class="titlewrapper">
                <h3>
                    Our ANS Medical Device Platform validates over 21 additional exams for 
                    potential next-steps for the physician. <span> Including: </span>
                </h3>
            </div>
            <div class="textwrapper">
                <div class="listtext2">
                    <span class="col1">
                        <p>MRI</p>
                        <p>EEG</p>
                        <p>Blood Tests</p>
                        <p>CT Scan</p>
                        <p>NCS</p>
                        <p>A1C</p>
                        <p>Ultrasound / Vascular Studies</p>
                        <p>Thermoregulatory Sweat Tests</p>
                        <p>Angiography</p>
                    </span>
                    <span class="col2">
                       <p>Advanced ECG</p>
                       <p>Small Fiber Neuropathy Testing</p>
                       <p>Stress Tests</p>
                       <p>Chest X-Ray</p>
                       <p>Glucose Tolerance Testing</p>
                       <p>Holter Monitor</p>
                       <p>EMG</p>
                       <p>Bone Scan</p>
                    </span>
                </div>
                <div class="textsubwrapperbg">
                    <h3>
                        Your clients will be able to order more and more tests out of their practices, which will increase their practice revenues substantially. <span>What that also means is more and more residual commissions for you on each one of your clients.</span>
                        <br>
                        <br>
                        We have already paid massive $$$ amounts in Sales commissions.  <span>Now, you too can carve out a piece of our commission payouts for yourself.</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="border2"></div>
    </div>
</mat-card>

<mat-card class="lpblock8">
    <div class="newcontainer">
        <div class="lpblock8subblock1">
            <div class="titlewrapper">
                <h3>
                    You will obviously want to learn more, so…  <span> GET REGISTERED </span> right away.
                </h3>
            </div>
            <div class="textwrapper">
                <p>Our customized and  <span>COMPLETE ANS TESTING MEDICAL DEVICE PLATFORM</span> is a one-of-a-kind technology that is unique to the industry. No other program out there has the combination of features and functions that our program offers.</p>
                <p>Our program has the ability (and the background) to appeal to your clients, and will allow you to enjoy very high conversion rates.</p>
                <p>What are you waiting for?</p>
            </div>
            <button class="blackbtn">Sign up as a Sales Rep <span>TODAY!!!</span> </button>
        </div>
        <div class="border2"></div>
    </div>
</mat-card>
<mat-card class="lpfooterblock">
    <div class="newcontainer">
        <div class="textwrapper"><p>© 2021 HPS, LLC. All rights reserved.</p></div>
    </div>
</mat-card>
</div>


<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage7.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage8.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage9.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage10.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage11.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage12.jpg" alt=""></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/landingpageimage13.jpg" alt=""></div> -->