<app-header></app-header>
<div class="bannerblock">
    <img src="../../../assets/images/tfhimage1.png" class="abimage">
    <span class="newcontainer">
        <span class="bannertextwrapper">
            <span class="bannertext">
                <div class="bannertitlewrapper">
                    <h5>
                        TM-Flow Hardware
                    </h5>
                </div>
                <div class="bannersubtextwrapper">
                    <p>
                        <strong>Our TM-Flow ANS testing medical device is a highly comprehensive, user-friendly,
                            non-invasive tool that focuses on early detection and follow-up of complications (autonomic
                            nervous system & vascular system) by measuring 8 health risk areas within the body. This ANS
                            testing medical device effectively measures the state of a patient’s health by screening for
                            hidden causes of disease and other chronic metabolic diseases such as Diabetes and other
                            Cardiometabolic risks.</strong>
                    </p>
                    <p><span>Scientifically validated with 5 FDA clearances,</span> our Class 2 analytical medical
                        device performs a complete patient health risk analysis. Through our PECETM Medical Device
                        Platform, you, the physician, gain immediate access to a variety of highly actionable medical
                        data on the patient. This exam is covered and reimbursed by most insurance </p>

                </div>

                <h2>
                    VIEW A SAMPLE REPORT FROM OUR TM-FLOW ANS TESTING MEDICAL DEVICE SCAN.
                </h2>
            </span>
        </span>

    </span>

</div>
<mat-card class="tfhblock2">
    <div class="newcontainer">
        <div class="titlewrapper">
            <h2>
                <span>How does the TM-Flow medical device assess</span>
                <span>the Autonomic Nervous System?</span>
            </h2>
        </div>
    </div>
    <div class="tfhblock2subblock1">
        <img src="../../../assets/images/tfhimage2.png" class="abimage">
        <div class="newcontainer">
            <div class="textwrapper">
                <p>The <a>TM-Flow</a> medical device Scan analyzes the Photoplethysmography (PTG) waveform for precise
                    and accurate detection of the beat to beat heart rate (RR-intervals). The blood pressure, while
                    lying down and while standing, are measured by oscillometry (TM-Flow) or by volume plethysmography.
                    The sudomotor function is assessed by a galvanic skin response device either using metal plates
                    following the electrical stimulation of the sweat glands (ANS-1) or disposable cloth electrodes and
                    pressure cuffs placed on the ankles following a double stimulation - the metaboreflex and the
                    electrical stimulation of the </p>
            </div>
        </div>
    </div>
    <div class="tfhblock2subblock2">
        <img src="../../../assets/images/tfhimage3.png" class="abimage">
        <div class="newcontainer">
            <div class="tfhblock2textsubwrapper">
                <div class="listtitle">
                    <h2>[The TM-Flow medical device Scan’s assessment of the autonomic nervous system (ANS) follows the
                        diagnostic guidelines of the Cardiac
                        Autonomic Neuropathy (CAN) Subcom mittee of the Toronto Consensus Panel on Diabetic Neuropathy.]
                    </h2>
                </div>
                <div class="textwrapper liststyle4">
                    <p>The methods for assessing the autonomic nervous system within a clinical practice include the
                        evaluation of symptoms and signs, as well as the Heart Rate variability (HRV) analysis, the
                        Cardiac autonomic reflex tests (CART’s), which are based on heart rate and blood pressure
                        recordings. In addition, Sudomotor function tests are performed.</p>
                    <p>The Gold-standard assessment of CART’s includes heart rate variability analysis and Ewing tests -
                        such as heart rate responses to deep breathing, standing, Valsalva maneuver, and blood pressure
                        response to standing. A tilt table may be suggested for performing the tests.
                    </p>
                    <p>The CART’s score is calculated by using the <a>Jermendy Scoring System</a> and it allows the
                        result interpretation according to the guidance of the neurological associations.</p>
                </div>
            </div>
        </div>
    </div>

</mat-card>

<mat-card class="tfhblock3">
    <div class="titlewrapper titlewrapperbg">
        <h2>
            <span>How does the TM-Flow medical device</span>
            <span>ASSESS VASULAR DYSFUNCTION?</span>
        </h2>
        <h3>ESTABLISHING MEDICAL NECESSITY FOR <br>
            ORDERING THIS TEST FOLLOWS A VAST ARRAY OF POTENTIAL SYMPTOMS.</h3>
    </div>
    <div class="newcontainer">
        <div class="tfhblock3subwrapper1">
            <div class="tfhblock3textmainwrapper">
                <img src="../../../assets/images/tfhimage4.png" class="abimage">
                <div class="textwrapper liststyle1">
                    <p>The TM-Flow medical device Scan analyzes the Photoplethysmography (PTG), and volume
                        plethysmography
                        recordings from segmental pressures of the upper and lower extremities. Volume Plethysmography
                        is a
                        technique which records the large artery blood flow with pressure cuffs and pump.</p>

                    <p>Our volume plethysmography analysis provides markers of arterial stiffness, which are
                        Brachial-Ankle Pulse Wave Velocity, peripheral Augmentation Index, and Central Aortic
                        Systolic Pressure.</p>
                    <p>Segmental pressures of the upper and lower extremities allow for the calculation of the
                        Ankle-Brachial Indices in order to diagnose PAD.</p>
                    <p>PTG is a technique that records the peripheral circulation using infrared light with our
                        oximeter.</p>
                </div>
            </div>
        </div>
        <div class="tfhblock3subwrapper2">
            <div class="col-container col-container1 shadow">
                <div class="col-2 greengradient">
                    <h2>The non-invasive methods utilized by the TM-Flow device for assessing vascular function
                        comprise of</h2>
                </div>
                <div class="col-8 graygradient">
                    <div class="textwrapper">
                        <div class="subtextwrappernew">
                            <p>Carotid artery
                                ultrasound</p>
                            <p>Peripheral artery
                                ultrasound</p>
                            <p>Volume plethysmography
                                recordings</p>
                            <p>Photoplethysmography
                                recordings</p>
                            <p>Segmental pressures of the
                                upper and lower extremities</p>
                            <p>TCP02 testing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<mat-card class="tfhblock4">
    <div class="newcontainer">
        <div class="listtitle shadow">
            <h2>THE TM-Flow MEDICAL DEVICE OVERVIEW</h2>
        </div>
        <div class="titlewrapper">
            <h3>Our TM-Flow ANS testing platform is a Medical Device Data System that uses all four LD Technologies to
                identify the different Markers that demonstrate the Patient Health Conditions.</h3>
        </div>
        <div class="colcontainerwrapper">
            <div class="col-container">
                <div class="col-2 borderright">
                    <div class="listtitle">
                        <h2>ASSESSMENTS</h2>
                    </div>
                    <div class="textwrapper">
                        <div class="subtextwrappernew">
                            <p>Cardiac Autonomic Neuropathy</p>
                            <p>Sudomotor</p>
                            <p>Endothelial Dysfunction</p>
                            <p>Ankle brachial Indices</p>
                            <p>Lifestyle</p>
                            <p>Cardiometabolic Risk Score</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 borderright">
                    <div class="listtitle">
                        <h2>HOW</h2>
                    </div>
                    <div class="textwrapper">
                        <div class="subtextwrappernew">
                            <p>Guidelines of the CAN Subcommittee of the
                                Toronto Consensus Panel Statement</p>
                            <p>Patented sequence of electrical stimulation
                                measured at negative and positive electrodes</p>
                            <p>Patented analysis of the PTG spectral analysis
                                andvasomotion</p>
                            <p>Synchronization of 4 Bluetooth BP devices
                                and Heart association guidance.</p>
                            <p>Fat Mass by BIA Vital signs and HRV markets</p>
                            <p>Based on Abnormal results of all the CMAT
                                markers</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="listtitle">
                        <h2>WHY? CLINICAL OUTCOMES</h2>
                    </div>
                    <div class="textwrapper">
                        <div class="subtextwrappernew">
                            <p>CAN is a high-risk factor of CVD and
                                hypoglycemia (Hb1Ac target)</p>
                            <p>Early detection of Small fiber Neuropathy
                                and adapted treatment options.</p>
                            <p>Insulin resistance Inflammation Thrombotic
                                risk Vasodilation responses Blood flow</p>
                            <p>Early detection of Peripheral artery disease
                                and treatment options</p>
                            <p>Visualization and evaluation of the
                                lifestyle changes</p>
                            <p>Treatment folloe up and early detection of
                                micro and/or macrovsdcular complications.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<mat-card class="tfhblock5">
    <div class="newcontainer">
        <div class="gradienttext listtitle">
            <h2>Technology</h2>
        </div>
        <div class="textwrapper textwrapperbg">
            <p>The TM-Flow medical device Scan analyzes the Photoplethysmography (PTG) waveform for precise and accurate detection of the beat to beat heart rate (RR-intervals). The blood pressure, while lying down and while standing, are measured by oscillometry (TM-Flow) or by volume plethysmography. The sudomotor function is assessed by a galvanic skin response device either using metal plates following the electrical stimulation of the sweat glands (ANS-1) or disposable cloth electrodes and pressure cuffs placed on the ankles following a double stimulation - the metaboreflex and the electrical stimulation of the sweat glands (TM-Flow).</p>
        </div>

        <div class="col-container col-container1">
            <div class="col-3 newgradient">
                <div class="imgwrapper">
                    <img src="../../../assets/images/tfhimage5.jpg" alt="">
                </div>
            </div>
            <div class="col-7">
                <div class="listandtextwrapper">
                    <div class="listtitle">
                        <h2>THE TBL-ABI SYSTEM IS INTENDED FORUSE IN THE RAPID MEASUREMENTS OF :</h2>
                    </div>
                    <div class="textwrapper textwrapperbg liststyle4">
                        <p>Volume Plethysmography</p>
                        <p>Ankle-Brachial Indices (ABI)</p>
                    </div>
                </div>
                <div class="textwrapper textwrapperbg shadow">
                    <p>It is suitable to use for wound care assessments, for assessing symptomatic Peripheral Arterial Disease (PAD) and to use as a screening device for PAD. It may also be used on patients with venous or arterial ulcers prior to the application of compression therapy. To increase the sensitivity of the test, our Ankle-Brachial Indices (ABI) are calculated by the ratio of the lowest systolic blood pressure.</p>
                </div>
                
            </div>
        </div>

        <div class="col-container col-container2">
            <div class="col-3 newgradient">
                <div class="imgwrapper">
                    <img src="../../../assets/images/tfhimage6.jpg" alt="">
                </div>
            </div>
            <div class="col-7">
                <div class="listandtextwrapper">
                    <div class="listtitle">
                        <h2>THE TBL-ABI SYSTEM IS INTENDED FOR USE IN THE RAPID 
                            MEASUREMENTS OF :</h2>
                    </div>
                    <div class="textwrapper textwrapperbg">
                        <p>The LD-Oxy System is intended for use in assessing a patient’s SpO2%, Autonomic Nervous System (ANS), and
                            Microvascular Artery Dysfunction by analyzing the pulse waveform (Photoplethysmography - PTG or PPG) 
                            provided by the oximeter.</p>
                    </div>
                </div>
                <div class="textwrapper textwrapperbg shadow">
                    <p>LD-Oxy analyzes the basic rhythms of the NN or RR intervals in Heart Rate Variability (HRV), both in the time domain and the frequency domain, at rest and during challenges (Ewing tests or CARTs), in order to assess a patient’s ANS function and exercise capacity.</p>
                    <p>LD-Oxy analyses the peripheral microcirculation, both in the time domain (PTG second derivative) and in the frequency or spectral analysis domain (Vasomotion), to assess endothelial function directly without an occlusion test. Vasomotion is defined as the spontaneous rhythmic contraction and dilation of the muscle components in the small blood vessel walls which generate rhythmic changes in their diameter. The LD vasomotion analysis is patented, and in addition to assessing the blood flow, the analysis provides markers of Insulin Resistance (IR), Inflammation (CRP), and Thrombotic risk.</p>
                </div>
                
            </div>
        </div>

        <div class="col-container col-container3">
            <div class="col-3 newgradient">
                <div class="imgwrapper">
                    <img src="../../../assets/images/tfhimage7.jpg" alt="">
                </div>
            </div>
            <div class="col-7">
                <div class="listandtextwrapper">
                    <div class="listtitle">
                        <h2>The SweatC System is a galvanic skin response technology that is 
                            used to assess the sweat gland or the Sudomotor function.</h2>
                    </div>
                    <div class="textwrapper textwrapperbg liststyle4">
                        <p>The voltage of PCSVR at the negative electrode, </p>
                        <p>The absorption of the induced sweat on the bulk of 
                            the cloth electrodes, and thus, the C-F response at the 
                            positive electrodes.</p>
                    </div>
                </div>
                <div class="textwrapper textwrapperbg shadow">
                    <p>As the PCSVR and C-F response increases, microcirculation (at the negative electrode) 
                        and perspiration increases (at the positive electrode), and more sweat glands are stimulated. This increases the voltage amplitude in each area of the skin covered by the electrodes. Sudomotor testing is recognized as the best tool to detect small fiber neuropathy, also known as Diabetic Neuropathy.</p>
                </div>
                
            </div>
        </div>

        <div class="col-container col-container4">
            <div class="col-3 newgradient">
                <div class="imgwrapper">
                    <img src="../../../assets/images/tfhimage8.jpg" alt="">
                </div>
            </div>
            <div class="col-7">
                <div class="listandtextwrapper">
                    <div class="listtitle">
                        <h2>The ES-BC System</h2>
                    </div>
                    <div class="textwrapper textwrapperbg liststyle4">
                        <p>The voltage of PCSVR at the negative electrode, </p>
                        <p>The absorption of the induced sweat on the bulk of the cloth electrodes, and thus, the C-F response 
                            at the positive electrodes.</p>
                    </div>
                </div>
                <div class="textwrapper textwrapperbg shadow">
                    <p>The ES-BC System is a Bioimpedance analyzer measuring body tissue resistance in order to estimate the body composition (of body fat) of a patient using peer-reviewed validated algorithms.</p>
                </div>
                
            </div>
        </div>
    </div>
</mat-card>

<mat-card class="tfhblock6">
    <img src="../../../assets/images/tfhimage9.png" class="abimage">
    <div class="newcontainer">
        <div class="textwrapper">
            <h2>
                <span>Why does the TM-Flow medical device</span>
                <span>integrate different technologies?</span>
            </h2>
            <h3>ESTABLISHING MEDICAL NECESSITY FOR <br>
                ORDERING THIS TEST FOLLOWS A VAST ARRAY OF POTENTIAL SYMPTOMS.</h3>
        </div>
        <div class="textwrapper liststyle1">
            <p>Since the assessment of the  <span>Autonomic Nervous System (ANS)</span> and the Vascular System require several separate procedures using different diagnostic tools (which can often be expensive, time-consuming and difficult to interpret separately), the TM-Flow System has been developed by integrating various technologies that 
                allow the physician to have a complete overview of the ANS and vascular function with only one exam.</p>
            <p>Moreover, the integration of these different technologies reduces the time to perform the different measurements without compromising the accuracy of the results.</p>
            <p>Frequently, physicians face patients who have a chronic metabolic 
                disease or other comorbid conditions and symptoms. At times, differentiating vascular from neuropathic disorders can be difficult. 
                The symptoms of autonomic neuropathy and vascular disorders can overlap and mimic each other.</p>
            <p>Although the conditions may imitate each other, the causes are 
                often unrelated and treatments are quite different. By integrating technologies, the TM-Flow System allows for the early detection of diabetes and its complications. This will help the physician to 
                distinguish between autonomic neuropathy and vascular dysfunction symptoms. Therefore, TM-Flow offers the physician a tool to better 
                explain the symptom(s) and its cause to the patient, and more 
                treatment options which are easily understood and accepted by the patient.</p>
        </div>
    </div>
</mat-card>

<mat-card class="tfhblock7">
<div class="titlewrapper titlewrapperbg">
    <h2>The TM-Flow System Accuracy</h2>
    <p>To compare the products‘ accuracy to the Gold standard, we must go to each result of the TM-Flow medical device according to our clinical studies.</p>
</div>
<div class="newcontainer">
    <div class="tfhblock7subwrapper">
        <div class="numbermainwrapper">
            <div class="numbersubwrapper">
                <h2>1.</h2>
            </div>
        </div>
        
        <div class="col-container shadow">
            <div class="blogtitle">
                <h2>CMR Score</h2>
            </div>
            <div class="textwrapper">
                <p>At 120 minutes, the correlations between the OGTT (Gold standard for the diabetes diagnostic) and CMRS were: r = 0.56 (p = 0.004) for glucose, r = 0.53 (p = 0.006) for insulin, and r = 0.58 (p = 0.002) for insulin C-peptide. The CMRS had a sensitivity of 92% and specificity of 83% to differentiate diabetic patients and control group patients.</p>
            </div>
            <div class="imagewrapper">
                <img src="../../../assets/images/tfhimage10.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="tfhblock7subwrapper">
        <div class="numbermainwrapper">
            <div class="numbersubwrapper">
                <h2>2.</h2>
            </div>
        </div>
        
        <div class="col-container shadow">
            <div class="blogtitle">
                <h2>Sudomotor function</h2>
            </div>
            <div class="textwrapper">
                <p>The sudomotor response marker NO Peak had a sensitivity of 88% and a specificity of 68% (Area Under the Curve = 0.81, p < 0.0001) to detect retinopathy. The NO Sweat Peak (ESRNO) response marker inversely correlated with lab tests (Gold standard for the microvascular diagnostic) BUN (ρ = −0.41, p < 0.0001), homocysteine (ρ = −0.44, p < 0.0001), fibrinogen (ρ = −0.41, p < 0.0001).</p>
                <p>The sudomotor response marker Sweat Peak inversely correlated with the severity of symptoms on the peripheral neuropathy scale (Gold standard for the small fiber neuropathy diagnostic) at ρ = −0.56, p < 0.0001. ESRNO has a specificity and sensitivity of respectively 68.7% and 84.3% to differentiate the Diabetes group and control group.</p>
            </div>
            <div class="imagewrapper">
                <img src="../../../assets/images/tfhimage11.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="tfhblock7subwrapper">
        <div class="numbermainwrapper">
            <div class="numbersubwrapper">
                <h2>3.</h2>
            </div>
        </div>
        
        <div class="col-container shadow">
            <div class="blogtitle">
                <h2>Cardiac Autonomic Neuropathy</h2>
            </div>
            <div class="textwrapper">
                <p>We use the Gold standard and guidelines from the CAN Subcommittee of the Toronto Consensus Panel statement (using Heart rate variability and Ewing tests). Our study showed that the CAN score has a specificity and sensitivity of respectively 90.6% and 74.6% to differentiate the Diabetes group and control group [32] and correlated with CPR at ρ=0.42, p< 0.0001.</p>
            </div>
            <div class="imagewrapper">
                <img src="../../../assets/images/tfhimage12.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="tfhblock7subwrapper tfhblock7subwrapper4">
        <div class="numbermainwrapper">
            <div class="numbersubwrapper">
                <h2>4.</h2>
            </div>
        </div>
        
        <div class="col-container shadow">
            <div class="blogtitle">
                <h2>Stress Index</h2>
            </div>
            <div class="textwrapper">
                <p>Correlated with CRP (Gold standard to detect inflammation) at <br> ρ=0.40, p< 0.0001.</p>
            </div>
            <div class="imagewrapper">
                <img src="../../../assets/images/tfhimage13.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="tfhblock7subwrapper">
        <div class="numbermainwrapper">
            <div class="numbersubwrapper">
                <h2>5.</h2>
            </div>
        </div>
        
        <div class="col-container shadow">
            <div class="blogtitle">
                <h2>PTGi</h2>
            </div>
            <div class="textwrapper">
                <p>It had a sensitivity of 86.1% and specificity of 87.2% to detect coronary Heart disease using coronary angiography (Gold standard for coronary heart disease diagnostic).</p>
                <p>CAD diabetic patients (n=27) had a lower PTGi value compared to the CAD non-diabetic patients (n=38) The mean PTGi in the CAD diabetic patient group was 24 V/s versus 33 V/s in the CAD non-diabetic patient group (P=0.0001). Patients who underwent CABG (n=18) had a higher PTGi value compared to that of the CAD patients who did not undergo CABG surgery (n=47). The mean PTGi for CAD patients who had CABG surgery was 34 V/s versus 30 V/s for CAD patients who did not have CABG surgery (P=0.01).</p>
            </div>
            <div class="imagewrapper">
                <img src="../../../assets/images/tfhimage14.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="tfhblock7subwrapper">
        <div class="numbermainwrapper">
            <div class="numbersubwrapper">
                <h2>6.</h2>
            </div>
        </div>
        
        <div class="col-container shadow">
            <div class="blogtitle">
                <h2>PTG VLFi</h2>
            </div>
            <div class="textwrapper">
                <p>It has a specificity and sensitivity of respectively 96% and 93.6% to differentiate the Diabetes group and control group. It correlated with fibrinogen (the Gold standard for the coagulation disorder diagnostic) at ρ=0.43, p<0.0001.</p>
            </div>
            <div class="imagewrapper">
                <img src="../../../assets/images/tfhimage15.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="tfhblock7subwrapper">
        <div class="numbermainwrapper">
            <div class="numbersubwrapper">
                <h2>7.</h2>
            </div>
        </div>
        
        <div class="col-container shadow">
            <div class="blogtitle">
                <h2>PTG TP</h2>
            </div>
            <div class="textwrapper">
                <p>The ROC curves showed that the most relevant cut-off to the whole study group was a PTG -TP > 406.2. This cut-off had a sensitivity = 95.7%, specificity = 84,4%, and the area under the ROC curve (AUC) = 0.929 for identifying insulin resistance measured with the hyperinsulinemia euglycemic clamp (Gold standard for the insulin resistance diagnostic). All AUC ROC curves analysis was significant (p < 0.0001).</p>
            </div>
            <div class="imagewrapper">
                <img src="../../../assets/images/tfhimage12.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="tfhblock7subwrapper">
        <div class="numbermainwrapper">
            <div class="numbersubwrapper">
                <h2>8.</h2>
            </div>
        </div>
        
        <div class="col-container shadow">
            <div class="blogtitle">
                <h2>ABIs and SA Amplitudes</h2>
            </div>
            <div class="textwrapper">
                <p>Comparison of our results to the Doppler method (Gold standard for the Peripheral artery disease screening) revealed a very good agreement between both methods in terms of clinical relevance: TBL- ABI measurement ≤1 had a sensitivity of 85% and specificity of 96% to detect ABI measured by Doppler ≤0.9 and hence PAD.</p>
            </div>
            <div class="imagewrapper">
                <img src="../../../assets/images/tfhimage15.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="tfhblock7subwrapper">
        <div class="numbermainwrapper">
            <div class="numbersubwrapper">
                <h2>9.</h2>
            </div>
        </div>
        
        <div class="col-container shadow">
            <div class="blogtitle">
                <h2>Estimated Fat mass</h2>
            </div>
            <div class="textwrapper">
                <p>We found adequate relative and absolute agreement between ES-BC and DXA for fat mass (r = 0.97, P < 0.001) with ES-BC overestimating fat mass by 0.1 kg and for body fat percentage (r = 0.92, P < 0.001) with overestimation of fat percentage by 0.4%.</p>
            </div>
            <div class="imagewrapper">
                <img src="../../../assets/images/tfhimage12.jpg" alt="">
            </div>
        </div>
    </div>



</div>
</mat-card>



<mat-card class="tfhblock8">
    <div class="newcontainer">
        <div class="titlewrapper">
            <h1>
                <span>How should the TM-Flow Medical Device be</span>
                <span>Used in a Clinical Setting?</span>
            </h1>
        </div> 
        <div class="tfhblock8subwrapper1">
            <div class="textwrapper">
                <p>Our vision is to provide physicians with new tools and a better approach to detect and treat diabetes and its complications. Diabetes is NOT ONLY a blood glucose level concern but also a chronic disease that damages the autonomic nerves and micro/macrovascular systems.</p>
                <p>Unfortunately, current laboratory exams offer incomplete markers for the early detection of diabetes and its complications, and for assessing the full effectiveness of treatment. In adjunct with the laboratory tests, our ANS testing medical device platform aims to provide better solutions to improve patient outcomes that will benefit the overall care of patients.</p>
            </div>
            <div class="imgwrapper shadow">
                <img src="../../../assets/images/tfhimage16.jpg" alt="#">
            </div>
        </div>
    </div>
</mat-card>




<!-- <div class="imgwrapper"><img src="../../../assets/images/thdemoimage2.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/thdemoimage3.jpg"></div> -->
<!-- <div class="imgwrapper"><img src="../../../assets/images/thdemoimage4.jpg"></div> -->
<!-- <div class="imgwrappernew"><img src="../../../assets/images/thdemoimage5.jpg"></div> -->
<!-- <div class="imgwrappernew"><img src="../../../assets/images/thdemoimage6.jpg"></div> -->
<!-- <div class="imgwrappernew"><img src="../../../assets/images/thdemoimage7.jpg"></div> -->
<!-- <div class="imgwrappernew"><img src="../../../assets/images/thdemoimage8.jpg"></div> -->
<!-- <div class="imgwrappernew"><img src="../../../assets/images/thdemoimage9.jpg"></div> -->
<!-- <div class="imgwrappernew"><img src="../../../assets/images/thdemoimage10.jpg"></div> -->
<!-- <div class="imgwrappernew"><img src="../../../assets/images/thdemoimage11.jpg"></div> -->

<app-footer></app-footer>